

<div class="row">
    <div class="small-12 columns">
        <div data-magellan-expedition="fixed">
            <dl class="sub-nav">
                <dd data-magellan-arrival="about"><a href="#about">About</a></dd>
                <dd data-magellan-arrival="exp"><a href="#exp">Experience</a></dd>
            </dl>
        </div>

        <h3 data-magellan-destination="about">About</h3>
        <a name="about"></a>


        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>
        <a href="" id="button">Clcik Me</a>
    </div>
</div>