<hr class="navbar-seperator"/>
<div class="container itinerary-page">
    <div class="row">
        <div class="col-sm-12">
            <h1>Wedding Day Details</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="/the-venue">Find directions and venue details here</a>

            <h4>Arrival Time</h4>
            <p>Guests should aim to arrive at the reception at 2:30pm for a start time of 3pm sharp.</p>

            <h4>Car Parking</h4>
            <p>Guests who are driving should leave extra time to get parked - perhaps <strong class="text-lowercase">an hour</strong>
                before ceremony as the car park can get extremely busy and is also open to the general public.</p>

            <h4>Evening Guest Parking</h4>
            <p>All gates to Richmond Park will be closed at Dusk. The only access and exit points at this time will be Richmond Gate
                on the Star and Garter roundabout where a gateman will be stationed.</p>

            <h4>Over night Parking</h4>
            <p>Cars can be left over night if they display a parking permit - freely available from Pembroke Lodge
                on the night.</p>

            <h4>Taxi Booking</h4>
            <p>We advise that taxis to be booked in advance prior to the date and that taxi companies <strong>MUST</strong>
                be informed that the only entrance to the park after dusk is via Richmond gate. Cars should drive up to
                the left hand gate and the gateman will let them in.</p>

            <h4>Taxi Companies in the area:</h4>
            <ul class="green-ul">
                <li><span class="inner-li">Riverside Cars: <a href="tel:02088787777">020 8878 7777</a></span></li>
                <li><span class="inner-li">Parker Cars: <a href="tel:02085600000">020 8560 0000</a></span></li>
                <li><span class="inner-li">Rugby Cars: <a href="tel:02088915000">0208 891 5000</a></span></li>
                <li><span class="inner-li">Revolutions Cars: <a href="tel:02088928898">020 8892 8898</a></span></li>
            </ul>
        </div>
    </div>
</div>