<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>{{title}}</title>
      <script type="text/javascript" src="/js/es5/helloworld.js"></script>
      <link rel="stylesheet" href="/stylesheets/vendor/foundation.css" />
      <link rel='stylesheet' href='/stylesheets/css/style.css' />
      <script src="/js/vendor/modernizr.js"></script>
      <link rel="icon" href="/images/kakashi.ico"/>
  </head>
  <body>
    {{{body}}}

    <script src="js/vendor/jquery-2.1.4.js"></script>
    <script src="js/vendor/knockout-3.3.0.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/vendor/foundation.magellan.js"></script>
    <script>
        $(document).foundation();
    </script>
  </body>
</html>
