<div class="container map-page">
    <div class="row">
        <div class="col-xs-12">
            <h1>The Venue - Pembroke Lodge</h1>
            <div class="row">
                <div class="col-sm-6">
                    <p>The Wedding ceremony and reception and after wedding precedings will be taking
                        place at Pembroke Lodge in Richmond.</p>
                </div>
                <div class="col-sm-6">
                    <p>
                        <strong>Full address</strong><br>
                        Pembroke Lodge, Richmond Park<br>
                        Richmond<br>
                        TW10 5HX<br>
                        or call: <a href="tel:02089408207">020 8940 8207</a>
                    </p>
                </div>
            </div>
        </div>
        <div id="map" class="col-xs-12"></div>
        <div class="col-sm-3">
            <p><strong>Nearest Train Stations</strong></p>
            <ul>
                <li class="train">St. Maragerets</li>
                <li class="train">Twickenham</li>
            </ul>
        </div>
        <div class="col-sm-9">
            <p><strong>About</strong></p>
            <p>Pembroke Lodge is situated within the heart of Richmond Park, seven miles from central London.
                There is a large public car park adjacent to the Lodge for 250 cars.</p>
        </div>
    </div>
</div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMMsNxvUr4MWq0J69ea6vY2yuzZVzcr0I&callback=initMap">
</script>