<hr class="navbar-seperator"/>

<!--Ceremony start 2pm-->

<!--Guests should arrive 1:3--2pm-->

<div class="container map-page">
    <div class="row">
        <div class="col-sm-9">
            <h1>The Venue - Pembroke Lodge</h1>
        </div>
        <div class="col-sm-3">
            <p class="address">
                <strong>Full address</strong><br>
                Pembroke Lodge, Richmond Park<br>
                Richmond, TW10 5HX<br>
                or call: <a href="tel:02089408207">020 8940 8207</a>
            </p>
        </div>
    </div>
    <div class="row map-section">
        <div class="col-xs-12">
            <h4>Directions</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 directions">
            <p class="first-p"><strong>By Car</strong></p>

            <p>You are advised to enter Richmond Park via the Richmond Gate entrance. Turn right at the roundabout
                and follow the road until you reach the free car park on the right.</p>

            <p>Guests who are driving should leave extra time to get parked - the car park is open to the public and can get busy.</p>

            <p><strong>By Train/Tube</strong></p>

            <p>The venue is a short taxi ride away from Richmond Station with a taxi rank located
                outside the station. Alternatively, the closest bus stop is outside the American University -
                371 bus from Richmond Town Centre or Kingston. The Lodge is then a 20 minute walk
                through the Park.</p>
        </div>
        <div class="col-sm-3 stations">
            <p><strong>Nearest Train Stations</strong></p>
            <ul class="list-unstyled">
                <li><i class="icon icon-first station hidden-print"></i><i class="icon tube icon-last hidden-print"></i>Richmond</li>
                <li><i class="icon station icon-last hidden-print"></i>St. Maragerets</li>
                <li><i class="icon station icon-last hidden-print"></i>Twickenham</li>
            </ul>
        </div>
    </div>
    <div class="row hidden-print">
        <div class="above-map-link map-link col-xs-12">
            <a class="pull-right" href="https://www.google.co.uk/maps/dir//De+Vere+Horsley+Estate,+Leatherhead/@51.2649806,-0.4996052,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x4875de83cebfa7d7:0x5c67ac743333475b!2m2!1d-0.429394!2d51.2650016" target="_blank">
                Find directions <span class="hidden-xs">to Pembroke Lodge </span>on Google maps</a>
        </div>
    </div>
    <div class="row">
        <div id="map" class="col-xs-12 map-section"></div>
    </div>
</div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMMsNxvUr4MWq0J69ea6vY2yuzZVzcr0I&callback=initMap">
</script>