<hr class="navbar-seperator"/>
<div class="container map-page">
    <div class="row">
        <div class="col-xs-12">
            <h1>The Venue - Pembroke Lodge</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>The Wedding ceremony and reception and after wedding precedings will be taking
                place at Pembroke Lodge in Richmond.</p>
        </div>
        <div class="col-sm-6">
            <p class="address">
                <strong>Full address</strong><br>
                Pembroke Lodge, Richmond Park<br>
                Richmond<br>
                TW10 5HX<br>
                or call: <a href="tel:02089408207">020 8940 8207</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="above-map-link map-link col-xs-12">
            <a class="pull-right" href="https://goo.gl/maps/YHvbFPW7f9Q2" target="_blank">See Venue on Google maps</a>
        </div>
    </div>
    <div class="row">
        <div id="map" class="col-xs-12 map-section"></div>
    </div>
    <div class="row map-section">
        <div class="col-xs-12">
            <h4>Directions</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 directions">
            <a class=" map-link" href="https://goo.gl/maps/aUs2Cu8RqLm" target="_blank">
                Find directions <span class="hidden-xs">to Pembroke Lodge </span>on Google maps</a>

            <p class="first-p"><strong>By Car</strong></p>

            <p>You are advised to enter Richmond Park via the Richmond Gate entrance. Turn right at the roundabout
                and follow the road until you reach the free car park on the right.</p>

            <p>Guests who are driving should leave extra time to get parked - the car park is open to the public and can get busy.</p>

            <p><strong>By Train/Tube</strong></p>

            <p>The venue is also a short taxi ride away from Richmond Station. A taxi rank is located directly
                outside the station. Alternatively, the closest bus stop is outside the American University -
                371 bus from Richmond Town Centre or Kingston. The Lodge is then about a 20 minute walk away
                through the Park.</p>
        </div>
        <div class="col-sm-3 stations">
            <p><strong>Nearest Train Stations</strong></p>
            <ul class="station-list">
                <li><i class="icon icon-first station"></i><i class="icon tube icon-last"></i>Richmond</li>
                <li><i class="icon station icon-last"></i>St. Maragerets</li>
                <li><i class="icon station icon-last"></i>Twickenham</li>
            </ul>
        </div>
    </div>
</div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMMsNxvUr4MWq0J69ea6vY2yuzZVzcr0I&callback=initMap">
</script>