<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="author" content="www.frebsite.nl" />
    <meta name="viewport" content="width=device-width" />
    <title>jQuery Touch Optimized Sliders "R"Us</title>

    <!-- include jQuery -->
    <script  type="text/javascript" src="js/vendor/jquery-2.1.4.js"></script>

    <!-- for dragging/swiping/pinching, include Hammer.js -->
    <script type="text/javascript" src="http://cdn.jsdelivr.net/hammerjs/2.0.3/hammer.min.js"></script>

    <!-- for scaling UI buttons (for wide websites on small screens), include FlameViewportScale -->
    <script type="text/javascript" language="javascript" src="/js/vendor/FlameViewportScale.js"></script>

    <!-- include Tos "R"Us -->
    <script type="text/javascript" language="javascript" src="/js/vendor/jquery.tosrus.min.all.js"></script>
    <link type="text/css" media="all" rel="stylesheet" href="/stylesheets/vendor/jquery.tosrus.all.css" />

    <!-- fire the plugin onDocumentReady -->
    <script type="text/javascript" language="javascript">
        jQuery(function( $ ) {

            //	Add a custom filter to recognize images from lorempixel (that don't end with ".jpg" or something similar)
            $.tosrus.defaults.media.image = {
                filterAnchors: function( $anchor ) {
                    return $anchor.attr( 'href' ).indexOf( 'lorempixel.com' ) > -1;
                }
            };

            $('#example-1 a').tosrus({
                buttons: 'inline',
                pagination	: {
                    add			: true,
                    type		: 'thumbnails'
                }
            });
        });
    </script>

</head>
<body>
<div id="wrapper" style="position: relative;">
    <section>
        <h2>Lightbox popup examples</h2>
        <p>Fire the plugin on a (set of) thumbnail(s) and it will create a lightbox popup with a slider for the enlarged images.<br />
            The plugin will automatically create a gallery from the targeted anchors.</p>
        <p>This lightbox has been set up with a thumbnail pagination and inline-buttons:</p>
        <div id="example-1" class="thumbs">
            <a href="http://lorempixel.com/1200/675/cats/5/">
                <img src="http://lorempixel.com/130/130/cats/5/" /></a>
            <a href="http://lorempixel.com/1200/675/cats/6/">
                <img src="http://lorempixel.com/130/130/cats/6/" /></a>
            <a href="http://lorempixel.com/1200/675/cats/7/">
                <img src="http://lorempixel.com/130/130/cats/7/" /></a>
            <a href="http://lorempixel.com/1200/675/cats/8/">
                <img src="http://lorempixel.com/130/130/cats/8/" /></a>
        </div>
<pre>
$("#example a").tosrus({
   buttons    : "inline",
   pagination : {
      add        : true,
      type       : "thumbnails"
   }
});
</pre>
        <br />
    </section>
    <hr />
</div>
</body>
</html>