<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" media="all" rel="stylesheet" href="/stylesheets/vendor/jquery.tosrus.all.css" />
</head>
<body>
<div>
    <div id="lightboxgallery">
        <a href="http://www.placecage.com/1780/800">
            <img src="http://www.placecage.com/280/300">
        </a>
        <a href="http://www.placecage.com/1350/1250">
            <img src="http://www.placecage.com/250/350">
        </a>
        <a href="http://www.placecage.com/1980/1350">
            <img src="http://www.placecage.com/280/250">
        </a>
        <a href="http://www.placecage.com/2240/1250">
            <img src="http://www.placecage.com/240/250">
        </a>
    </div>
</div>

<script type="text/javascript" src="js/vendor/jquery-2.1.4.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/hammerjs/2.0.3/hammer.min.js"></script>
<script type="text/javascript" language="javascript" src="/js/vendor/FlameViewportScale.js"></script>
<script type="text/javascript" language="javascript" src="/js/vendor/jquery.tosrus.min.all.js"></script>

<script type="text/javascript" language="javascript">
    jQuery(function( $ ) {
        //	Add a custom filter to recognize images from lorempixel (that don't end with ".jpg" or something similar)
        $.tosrus.defaults.media.image = {
            filterAnchors: function( $anchor ) {
                return true;
            }
        };

        $('#lightboxgallery a').tosrus({
            buttons: 'inline',
            pagination	: {
                add			: true,
                type		: 'thumbnails'
            }
        });
    });
</script>
</body>
</html>