<hr class="navbar-seperator"/>
<div class="overlay">
  <span class="overlay-text">Loading...</span>
</div>
<div class="container form-container">
    <h2>RSVP</h2>
    <div class="email-sent">
        <div class="alert alert-success" role="alert">
            <strong>RSVP Sent!</strong> We've just sent you a confirmation email. <i class="em em-sunglasses"></i>
        </div>
        <div class="center-block text-center">
            <img class="img-responsive display-inline-block hello-kitty" src="/images/hellokitty.jpg"/>
        </div>
    </div>
    <form class="rsvp-form form" role="form" data-toggle="validator" data-delay=2500>
        <div class="form-group">
            <label class="control-label" for="pwd"><strong>Name:</strong></label>

            <div>
                <input type="text" class="form-control" id="name" placeholder="Your name" data-error="Please fill in your name" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="email"><strong>Email:</strong></label>

            <div>
                <input type="email" class="form-control" data-error="Please include a valid email address." id="email" placeholder="Enter email" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="comment"><strong>Message to Anna and Michael:</strong></label>
            <textarea class="form-control" rows="4" id="comment"></textarea>
        </div>

        <label for="comment"><strong>RSVP Reply:</strong></label>

        <div class="form-group">
            <div class="radio">
                <label><input id="attending" type="radio" name="attendingOptions" value="" data-error="Please select an RSVP reply." required>I will be attending. It's gonna be awesome!</label>
            </div>
            <div class="radio">
                <label><input id="not-attending" type="radio" name="attendingOptions" value="" data-odd required>No I can't come, but i'm super sad about it <i class="em em-disappointed"></i></label>
            </div>
            <div class="help-block with-errors"></div>
        </div>
        <label for="food"><strong>Food Option:</strong></label>

        <div class="radio">
            <label><input id="chicken" type="radio" name="foodOptions" value="">Chicken</label>
        </div>
        <div class="radio">
            <label><input id="fish" type="radio" name="foodOptions" value="">Fish</label>
        </div>

        <div class="form-group">
            <div class="text-center">
                <button type="submit" class="send btn btn-default">Send!</button>
            </div>
        </div>
    </form>
</div>