<hr class="navbar-seperator" />
<div class="container tea-header">
    <div class="row">
        <div class="col-sm-12">
            <h1>RSVP List</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    {{!--
                    <th>Email</th> --}}
                    <th>Attending</th>
                    <th>Food Option</th>
                    <th>Guest Type</th>
                    <!--<th>Hotel Room Needed</th>-->
                    <th>RSVP Send Date</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>