<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Tony's Parallax</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="icon" href="/images/kakashi.ico"/>
        <link rel="stylesheet" href="/stylesheets/vendor/normalize.css" />
        <link rel="stylesheet" href="/stylesheets/vendor/main.css" />
    </head>
    <body class="loading" id="skrollr-body">
       	
       	<div id="preload">
	       	<img src="images/tony1.jpg">
	       	<img src="images/tony2.jpg" />
	       	<img src="images/tony3.jpg" />
	       	<img src="images/tony4.jpg"/>
       	</div>

       	<main>
	        <section id="slide-1" class="homeSlide">
	        	<div class="bcg"
                     data-center="background-position: 50% 0px;"
                     data-top-bottom="background-position: 50% -100px;"
                     data-anchor-target="#slide-1">
                    <div class="hsContainer">
                        <div class="hsContent"
                             data-center="bottom: 200px; opacity: 1"
                             data-top="bottom: 1200px; opacity: 0"
                             data-anchor-target="#slide-1 h2">
                                <h2>One thing i have to say...</h2>
                        </div>
                    </div>
	        	</div>
		    </section>

		    <section id="slide-2" class="homeSlide">
		    	<div class="bcg"
                     data-center="background-position: 50% 0px;"
                     data-top-bottom="background-position: 50% -100px;"
                     data-bottom-top="background-position: 50% 100px;"
                     data-anchor-target="#slide-2">
			    	<div class="hsContainer">
			    		<div class="hsContent"
                             data-center="opacity: 1"
                             data-center-top="opacity: 0"
                             data--100-bottom="opacity: 0;"
                             data-anchor-target="#slide-2">
				    		<h2>is that Tony</h2>
			    		</div>
		        	</div>
		    	</div>
		    </section>

			<section id="slide-3" class="homeSlide">
				<div class="bcg"
                     data-center="background-position: 50% 0px;"
                     data-top-bottom="background-position: 50% -100px;"
                     data-bottom-top="background-position: 50% 100px;"
                     data-anchor-target="#slide-3">
			    	<div class="hsContainer">
		    			<div class="hsContent"
                             data--50-bottom="opacity: 0;"
                             data--200-bottom="opacity: 1;"
                             data-center="opacity: 1"
                             data-200-top="opacity: 0"
                             data-anchor-target="#slide-3 h2">
				    		<h2>is the best in the wordly</h2>
                            <img class="nova" src="images/comic-6.jpg" />
                        </div>
			    	</div>

			    </div>
			</section>

			<section id="slide-4" class="homeSlide">
				<div class="bcg"
                     data-center="background-position: 50% 0px;"
                     data-top-bottom="background-position: 50% -100px;"
                     data-bottom-top="background-position: 50% 100px;"
                     data-anchor-target="#slide-4">
			    	<div class="hsContainer">
		    			<div class="hsContent"
                             data-bottom-top="opacity: 0"
                             data-25p-top="opacity: 0"
                             data-top="opacity: 1"
                             data-anchor-target="#slide-4">
				    		<h2>yay.</h2>
			    		</div>
			    	</div>

			    </div>
			</section>
		</main>
        <script src="js/vendor/jquery-2.1.4.js"></script>
        <script src="js/vendor/imagesloaded.js"></script>
        <script src="js/vendor/skrollr.js"></script>
        <script src="js/vendor/_main.js"></script>
        <script src="js/vendor/modernizr.js"></script>
    </body>
</html>
