<hr class="navbar-seperator"/>
<div class="container tea-header">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Chinese Tea Ceremony</h1>
        </div>
    </div>
</div>
<div id="tea-gallery-section" class="container text-center">
    <div class="row tea-gallery" data-bind="foreach: teaPhotos">
        <div class="col-sm-12 tea-wrapper">
            <img class="disable-rightclick img-responsive" data-bind="attr: {src: url}"/>
        </div>
    </div>
</div>
