<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/vendor/bootstrap-3.3.5.css">
    <link rel="stylesheet" href="/stylesheets/vendor/bootstrap-theme-3.3.5.css">
    <link rel='stylesheet' href='/stylesheets/css/wedding.css'/>
    <link rel='stylesheet' href='/stylesheets/css/navbar.css'/>
    <script src="/js/vendor/modernizr.js"></script>
    <link rel="icon" href="/images/kakashi.ico"/>
</head>
<body>
<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brian and Andrea</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Welcome</a></li>
                <li><a href="#gallery">When & Where</a></li>
                <li><a href="#venue">Venue</a></li>
                <li><a href="#contactus">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>
<section class="hero">
    <div class="intro">
        <div class="col-md-6 col-lg-7">
            <h1>Brian and Andrea</h1>

            <p>Join us for the wedding</p>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-12 infostitial center-block text-center">
            <h2>Ceremony and Reception</h2>

            <p>SATURDAY, MAY 23, 2015<br>
                4:00 - 10:00 PM<br>

                The Modern Rustic<br>
                573 NW Love St<br>
                Portland, OR 97209</p>
        </div>
    </div>
    <div class="row thumbnail-gallery">
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="http://lorempixel.com/275/275/">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="http://www.nicenicejpg.com/275/275">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="https://www.placecage.com/275/275">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="http://www.fillmurray.com/275/275">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="http://www.fillmurray.com/275/275">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="https://www.placecage.com/275/275">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="http://www.nicenicejpg.com/275/275">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="http://lorempixel.com/275/275/">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="http://www.fillmurray.com/275/275">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="http://lorempixel.com/275/275/">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="https://www.placecage.com/275/275">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="http://www.nicenicejpg.com/275/275">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="http://www.fillmurray.com/275/275">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="http://lorempixel.com/275/275/">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="https://www.placecage.com/275/275">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="http://www.nicenicejpg.com/275/275">
        </div>
    </div>
</div>

<script src="js/vendor/jquery-2.1.4.js"></script>
<script src="js/vendor/knockout-3.3.0.js"></script>
<script src="js/vendor/bootstrap-3.3.5.js"></script>
</body>
</html>