<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/vendor/bootstrap-3.3.5.css">
    <link rel="stylesheet" href="/stylesheets/vendor/bootstrap-theme-3.3.5.css">
    <link rel='stylesheet' href='/stylesheets/css/wedding.css'/>
    <link rel='stylesheet' href='/stylesheets/css/navbar.css'/>
    <link rel='stylesheet' href='/stylesheets/css/map.css'/>
    <link rel='stylesheet' href='/stylesheets/css/thumbnail.css'/>
    <link rel='stylesheet' href='/stylesheets/css/footer.css'/>
    <link type="text/css" media="all" rel="stylesheet" href="/stylesheets/vendor/jquery.tosrus.all.css" />
    <script src="/js/vendor/modernizr.js"></script>
    <link rel="icon" href="/images/wedding.ico"/>
</head>
<body>
<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Michael and Anna</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Welcome</a></li>
                <li><a href="/getting-there">Getting There</a></li>
                <li><a href="#contactus">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>

{{{body}}}

<footer class="footer">
    <div class="container">
        <p class="text-muted">Footer</p>
    </div>
</footer>
<script src="js/vendor/jquery-2.1.4.js"></script>
<script src="js/vendor/bootstrap-3.3.5.js"></script>
<script src="js/es5/map.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/hammerjs/2.0.3/hammer.min.js"></script>
<script type="text/javascript" src="/js/vendor/FlameViewportScale.js"></script>
<script type="text/javascript" src="/js/vendor/jquery.tosrus.min.all.js"></script>
<script src="js/es5/lightboxgallery.js"></script>
<script src="js/vendor/knockout-3.3.0.js"></script>
<script src="js/es5/appviewmodel.js"></script>
<script src="js/es5/image-orientation-picker.js"></script>

<script>
    jQuery(function( $ ) {
        initLightboxGallery();
    });
</script>
<script>
    $(window).load(function () {
        addPortraitClassToImg();
    });
</script>
</body>
</html>