<section class="hero">
    <div class="intro">
        <div class="col-md-6 col-lg-7">
            <h1>Michael and Anna</h1>

            <p>Join us for our wedding</p>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-12 infostitial center-block text-center">
            <h2>Ceremony and Reception</h2>

            <p>Sunday, June 12, 2015<br>
                13:00 PM - 12:00 AM<br>

                Pembroke Lodge<br>
                Richmond Park<br>
                Richmond<br>
                TW10 5HX<br>
                <a href="/getting-there" data-ajax="false">See On Map</a>
            </p>
        </div>
    </div>
</div>
<div class="container gallery-container">
    <div id="lightboxgallery" class="row thumbnail-gallery" data-bind="foreach: photos">
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail-link" data-bind="attr: {href: photoUrl}">
                <img class="img-responsive thumbnail-img" data-bind="attr: {src: thumbnailUrl}">
            </a>
        </div>
    </div>
</div>