<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" maximum-scale=1.0/>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/vendor/bootstrap-cut-3.3.5.css">
    <link rel="stylesheet" href="/stylesheets/vendor/bootstrap-theme-3.3.5.css">
    <link rel='stylesheet' href='/stylesheets/css/wedding-layout.css'/>
    <link rel='stylesheet' href='/stylesheets/css/wedding.css'/>
    <link rel='stylesheet' href='/stylesheets/css/scrollspy.css'/>
    <link rel='stylesheet' href='/stylesheets/css/navbar.css'/>
    <link rel='stylesheet' href='/stylesheets/css/thumbnail.css'/>
    <link rel='stylesheet' href='/stylesheets/css/rsvp.css'/>
    <link rel="stylesheet" href="/stylesheets/vendor/emoji.css">
    <link rel='stylesheet' href='/stylesheets/css/map.css'/>
    <link rel='stylesheet' href='/stylesheets/css/tea.css'/>
    <link rel='stylesheet' href='/stylesheets/css/footer.css'/>
    <script src="/js/vendor/modernizr.js"></script>
    <link rel="icon" href="/images/wedding.ico"/>
    <script src="js/es5/map.js"></script>
    <script src="js/es5/calendersettings.js"></script>
    <script src="js/es5/deviceutils.js"></script>
    <script src="js/es5/googleanalytics.js"></script>
    <script>
        initGoogleAnalytics();
    </script>
</head>
<body data-bind="css: deviceClasses" class={{{pageId}}}>
<div class="wrapper">
<nav class="navbar navbar-static-top">
    <div class="container text-uppercase">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Anna and Michael
                <img class="navbar-icon" src="/images/ponyo.png"/>
                <img class="navbar-icon"src="/images/panda.png"/>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-icons">
                    <img class="navbar-icon mobile-navbar-icon" src="/images/ponyo.png"/>
                    <img class="navbar-icon mobile-navbar-icon" src="/images/panda.png"/>
                </li>
                <li class="nav-welcome"><a href="/">Welcome</a></li>
                <li class="nav-rsvp"><a href="/rsvp" data-ajax="false">RSVP</a></li>
                <li class="nav-map"><a href="/the-venue" data-ajax="false">The Venue</a></li>
                <li class="nav-tea"><a href="/tea-ceremony" data-ajax="false">Tea Ceremony</a></li>
            </ul>
        </div>
    </div>
</nav>

{{{body}}}

<footer class="footer-basic-centered hidden-print">
    <p class="footer-company-motto">www.AnnaAndMichael.co.uk</p>
    <p class="footer-links">
        <a href="/the-venue">RSVP</a>
        |
        <a href="/the-venue">The Venue</a>
        |
        <a href="/tea-ceremony">Tea Ceremony Photos</a>
        |
        <a href="http://www.facebook.com" target="_blank">Facebook</a>
        |
        <a href="https://www.instagram.com" target="_blank">Instagram</a>
    </p>
    <p class="footer-company-name">Ly Corp &copy; 2016</p>
</footer>
</div>
<script src="js/vendor/jquery-2.1.4.js"></script>
<script src="js/vendor/scrollspy.js"></script>
<script src="js/vendor/bootstrap-3.3.5.js"></script>
<script src="js/vendor/validator.js"></script>
<script type="text/javascript" src="/js/vendor/addtocalender.min.js"></script>
<script src="js/vendor/knockout-3.3.0.js"></script>
<script src="js/es5/appviewmodel.js"></script>
<script src="js/es5/scrollhelper.js"></script>
<script src="js/es5/thumbnail.js"></script>
<script src="js/es5/sendemail.js"></script>

<script>
    initCalenderSettings();
    disableRightClick();
    $().validator({
        custom: {
            'odd': function($el) {
                if (!$('#attending').is(':checked') && !$('#not-attending').is(':checked')) {
                    return true;
                }
            }
        }
    })
</script>
</body>
</html>