<hr class="navbar-seperator"/>
<div class="container map-page">
    <div class="row">
        <div class="col-sm-9">
            <h1>Wedding Day Details - Pembroke Lodge</h1>
        </div>
        <div class="col-sm-3">
            <p class="address">
                <strong>Full address</strong><br>
                Pembroke Lodge, Richmond Park<br>
                Richmond, TW10 5HX<br>
                or call: <a href="tel:02089408207">020 8940 8207</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 directions">
            <h4>Arrival Time</h4>
            <p class="sub-heading"><strong>Ceremony & Receptions Guests</strong></p>
            <p>Ceremony guests should aim to arrive at the venue at <strong class="text-lowercase">2:30pm</strong> for a start time of
                <strong class="text-lowercase">3pm sharp.</strong></p>

            <p class="sub-heading"><strong>Evening Guests</strong></p>
            <p>Guests attending the reception should arrive at the venue at <strong class="text-lowercase">8:00pm</strong></p>

            <h4>Directions</h4>

            <a class="hidden-print map-link" href="https://goo.gl/maps/aUs2Cu8RqLm" target="_blank">
                Find directions <span class="hidden-xs">to Pembroke Lodge </span>on Google maps</a>
            <p class="first-p sub-heading"><strong>By Car</strong></p>

            <p>You are advised to enter Richmond Park via the Richmond Gate entrance. Turn right at the roundabout
                and follow the road until you reach the free car park on the right.</p>

            <p class="sub-heading"><strong>By Train/Tube</strong></p>

            <p>The venue is a short taxi ride away from Richmond Station with a taxi rank located
                outside the station.</p>
            <p>Alternatively, the closest bus stop is outside the American University -
                371 bus from Richmond Town Centre or Kingston. The Lodge is then a 20 minute walk
                through the Park.</p>

            <h4>Car Parking</h4>
            <p>Guests who are driving should leave extra time to get parked - perhaps <strong class="text-lowercase">an hour</strong>
                before ceremony as the car park can get extremely busy and is also open to the general public.</p>

            <p class="sub-heading"><strong>Over night Parking</strong></p>
            <p>Cars can be left over night if they display a parking permit - freely available from Pembroke Lodge
                on the night.</p>

            <h4>Evening Guest Parking</h4>
            <p>All gates to Richmond Park will be closed at dusk. The only access and exit points at this time will be Richmond Gate
                on the Star and Garter roundabout where a gateman will be stationed.</p>
        </div>
    </div>
    <div class="row">
        <div id="map" class="col-xs-12 map-section"></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4 id="taxi">Taxi Booking</h4>
            <p>We advise that taxis to be booked in advance prior to the date and that taxi companies <strong>MUST</strong>
                be informed that the only entrance to the park after dusk is via Richmond gate. Cars should drive up to
                the left hand gate and the gateman will let them in.</p>

            <h4>Taxi Companies in the area:</h4>
            <ul class="green-ul">
                <li><span class="inner-li">Riverside Cars: <a href="tel:02088787777">020 8878 7777</a></span></li>
                <li><span class="inner-li">Parker Cars: <a href="tel:02085600000">020 8560 0000</a></span></li>
                <li><span class="inner-li">Rugby Cars: <a href="tel:02088915000">0208 891 5000</a></span></li>
                <li><span class="inner-li">Revolutions Cars: <a href="tel:02088928898">020 8892 8898</a></span></li>
            </ul>
        </div>
    </div>
</div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMMsNxvUr4MWq0J69ea6vY2yuzZVzcr0I&callback=initMap">
</script>