<hr class="navbar-seperator" />
<div class="container map-page">
    <div class="row">
        <div class="col-sm-9">
            <h1>Wedding Day Details - Horsley Estate</h1>
        </div>
        <div class="col-sm-3">
            <p class="address">
                <strong>Full address</strong>
                <br> De Vere, Horsley Estate
                <br> Ockham Road South,
                <br> East Horsley, Surrey
                <br> KT24 6DT
                <br> or call:
                <a href="tel:01483284211">0148 328 4211</a>
            </p>
            <p class="hidden-print hidden-xs">
                <a id="print" href="#">
                    <img class="print-icon" src="/images/icons/print.png" />Print this page</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 directions">
            <h4>Arrival Time</h4>
            <p class="sub-heading">
                <strong>Ceremony &amp; Receptions Guests</strong>
            </p>
            <p>Ceremony guests should aim to arrive at the venue at
                <strong class="text-lowercase">1:00-1:30pm</strong> for a ceremony start time of
                <strong class="text-lowercase">2pm sharp.</strong>
            </p>
            {{!--
            <p>Guests who are driving should leave extra time to get parked - perhaps
                <strong class="text-lowercase">an hour</strong>
                before ceremony as the car park can get extremely busy and is also open to the general public.</p> --}}

            <p class="sub-heading">
                <strong>Evening Guests</strong>
            </p>
            <p>Guests attending the reception should arrive at the venue at
                <strong class="text-lowercase">8:00pm</strong>
            </p>

            <h4>Directions</h4>

            <a class="hidden-print map-link" href="https://www.google.co.uk/maps/dir//De+Vere+Horsley+Estate,+Leatherhead/@51.2649807,-0.4994336,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x4875de83cebfa7d7:0x5c67ac743333475b!2m2!1d-0.429394!2d51.2650016"
                target="_blank">
                Get directions on Google maps</a>
            <p class="first-p sub-heading">
                <strong>By Car</strong>
            </p>

            <p>From London or the M25, De Vere Horsley Estate is accessible from the A3 and the B2039. If travelling from the
                south, take the A3 heading north, then take the A247 and A246 to Horsley Park.</p>

            <p class="sub-heading">
                <strong>By Train</strong>
            </p>

            <p>
                <a href="https://www.thetrainline.com/stations/horsley" target="_blank">Horsley station</a> is just 1.5 miles away. On weekdays there are two trains every hour from both Waterloo
                Station and Guildford.</p>
            <h4>Staying Overnight</h4>
            <p>Linda will add stuff here...</p>
            {{!--
            <p class="sub-heading">
                <strong>Over night Parking</strong>
            </p>
            <p>Cars can be left over night if they display a parking permit - freely available from Pembroke Lodge on the night.</p>
            --}}

        </div>
    </div>
    <div class="row hidden-print">
        <div class="above-map-link map-link col-xs-12">
            <a class="pull-right" href="https://www.google.co.uk/maps/place/De+Vere+Horsley+Estate/@51.2650016,-0.429394,15z/data=!4m5!3m4!1s0x0:0x5c67ac743333475b!8m2!3d51.2650016!4d-0.429394"
                target="_blank">
                See venue on Google maps
            </a>
        </div>
    </div>
    <div class="row">
        <div id="map" class="col-xs-12 map-section"></div>
    </div>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6uFWm0T2BOs3PhyPhQjum9ZJrUh3O7aI&callback=initMap">
</script>