<section class="hero">
    <div class="intro">
        <div class="col-md-6 col-lg-7">
            <h1>Brian and Andrea</h1>

            <p>Join us for the wedding</p>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-12 infostitial center-block text-center">
            <h2>Ceremony and Reception</h2>

            <p>Sunday, June 12, 2015<br>
                13:00 PM - 12:00 AM<br>

                Pembroke Lodge<br>
                Richmond Park<br>
                Richmond<br>
                TW10 5HX<br>
                <a href="/getting-there">See On Map</a></p>
        </div>
    </div>
    <div id="lightgallery">
        <a href="https://www.placecage.com/375/275">
            <img src="https://www.placecage.com/375/275" />
        </a>
        <a href="http://www.nicenicejpg.com/275/375">
            <img src="http://www.nicenicejpg.com/275/375" />
        </a>
    </div>

    <div id="lightgalolery" class="thumbnail-gallery">
        <div class="col-xs-6 col-sm-3">
            <a href="/images/manna/manna-1.jpg"><img class="img-responsive" src="/images/manna/manna-1.jpg"></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="http://www.nicenicejpg.com/275/375"><img class="img-responsive" src="http://www.nicenicejpg.com/275/375"></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="https://www.placecage.com/375/275"><img class="img-responsive" src="https://www.placecage.com/375/275"></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="http://www.fillmurray.com/575/270"><img class="img-responsive" src="http://www.fillmurray.com/575/270"></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="http://www.fillmurray.com/357/575"><img class="img-responsive" src="http://www.fillmurray.com/357/575"></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="https://www.placecage.com/675/475"><img class="img-responsive" src="https://www.placecage.com/675/475"></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="http://www.nicenicejpg.com/575/235"><img class="img-responsive" src="http://www.nicenicejpg.com/575/235"></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="http://lorempixel.com/700/400/"><img class="img-responsive" src="http://lorempixel.com/700/400/"></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="http://www.fillmurray.com/300/700"><img class="img-responsive" src="http://www.fillmurray.com/300/700"></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="http://lorempixel.com/600/310"><img class="img-responsive" src="http://lorempixel.com/600/310/"></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="http://www.fillmurray.com/575/975"><img class="img-responsive" src="http://www.fillmurray.com/575/975"></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="https://www.placecage.com/599/477"><img class="img-responsive" src="https://www.placecage.com/599/477"></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="http://www.nicenicejpg.com/844/475"><img class="img-responsive" src="http://www.nicenicejpg.com/844/475"></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="http://lorempixel.com/446/661/"><img class="img-responsive" src="http://lorempixel.com/446/661/"></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="https://www.placecage.com/584/245"><img class="img-responsive" src="https://www.placecage.com/584/245"></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="http://www.nicenicejpg.com/965/245"><img class="img-responsive" src="http://www.nicenicejpg.com/965/245"></a>
        </div>
    </div>
    <!--<ul id="lightgallery" class="row">-->
        <!--<li class="col-xs-6 col-sm-3">-->
            <!--<a href="/images/manna/manna-1.jpg"><img class="img-responsive" src="/images/manna/manna-1.jpg"></a>-->
        <!--</li>-->
        <!--<li class="col-xs-6 col-sm-3">-->
            <!--<a href="http://www.nicenicejpg.com/275/375"><img class="img-responsive" src="http://www.nicenicejpg.com/275/375"></a>-->
        <!--</li>-->
        <!--<li class="col-xs-6 col-sm-3">-->
            <!--<a href="https://www.placecage.com/375/275"><img class="img-responsive" src="https://www.placecage.com/375/275"></a>-->
        <!--</li>-->
        <!--<li class="col-xs-6 col-sm-3">-->
            <!--<a href="http://www.fillmurray.com/575/270"><img class="img-responsive" src="http://www.fillmurray.com/575/270"></a>-->
        <!--</li>-->
        <!--<li class="col-xs-6 col-sm-3">-->
            <!--<a href="http://www.fillmurray.com/357/575"><img class="img-responsive" src="http://www.fillmurray.com/357/575"></a>-->
        <!--</li>-->
        <!--<li class="col-xs-6 col-sm-3">-->
            <!--<a href="https://www.placecage.com/675/475"><img class="img-responsive" src="https://www.placecage.com/675/475"></a>-->
        <!--</li>-->
        <!--<li class="col-xs-6 col-sm-3">-->
            <!--<a href="http://www.nicenicejpg.com/575/235"><img class="img-responsive" src="http://www.nicenicejpg.com/575/235"></a>-->
        <!--</li>-->
        <!--<li class="col-xs-6 col-sm-3">-->
            <!--<a href="http://lorempixel.com/700/400/"><img class="img-responsive" src="http://lorempixel.com/700/400/"></a>-->
        <!--</li>-->
        <!--<li class="col-xs-6 col-sm-3">-->
            <!--<a href="http://www.fillmurray.com/300/700"><img class="img-responsive" src="http://www.fillmurray.com/300/700"></a>-->
        <!--</li>-->
        <!--<li class="col-xs-6 col-sm-3">-->
            <!--<a href="http://lorempixel.com/600/310"><img class="img-responsive" src="http://lorempixel.com/600/310/"></a>-->
        <!--</li>-->
        <!--<li class="col-xs-6 col-sm-3">-->
            <!--<a href="http://www.fillmurray.com/575/975"><img class="img-responsive" src="http://www.fillmurray.com/575/975"></a>-->
        <!--</li>-->
        <!--<li class="col-xs-6 col-sm-3">-->
            <!--<a href="https://www.placecage.com/599/477"><img class="img-responsive" src="https://www.placecage.com/599/477"></a>-->
        <!--</li>-->
        <!--<li class="col-xs-6 col-sm-3">-->
            <!--<a href="http://www.nicenicejpg.com/844/475"><img class="img-responsive" src="http://www.nicenicejpg.com/844/475"></a>-->
        <!--</li>-->
        <!--<li class="col-xs-6 col-sm-3">-->
            <!--<a href="http://lorempixel.com/446/661/"><img class="img-responsive" src="http://lorempixel.com/446/661/"></a>-->
        <!--</li>-->
        <!--<li class="col-xs-6 col-sm-3">-->
            <!--<a href="https://www.placecage.com/584/245"><img class="img-responsive" src="https://www.placecage.com/584/245"></a>-->
        <!--</li>-->
        <!--<li class="col-xs-6 col-sm-3">-->
            <!--<a href="http://www.nicenicejpg.com/965/245"><img class="img-responsive" src="http://www.nicenicejpg.com/965/245"></a>-->
        <!--</li>-->
    <!--</ul>-->
</div>