<hr class="navbar-seperator" />
<div id="hero" class="hero parallax-bg">
    <div class="text-vcenter">
        <h1>
            <span class="text-shadow">We're Getting Married!</span>
        </h1>

        <p class="text-uppercase">
            <span class="text-shadow">Linda Ly + Matthew Kitchlew-Wilson</span>
        </p>
    </div>
</div>
<ul id="scrollspy-menu" class="scrollspy-menu">
    <li class="active">
        <a href="#">
            <span class="text">Back to Top</span>
            <span class="circle"></span>
        </a>
    </li>
    <li>
        <a href="#gallery-section">
            <span class="text">Photo Gallery</span>
            <span class="circle"></span>
        </a>
    </li>
    <li>
        <a href="#our-story">
            <span class="text">Our Story</span>
            <span class="circle"></span>
        </a>
    </li>
    <li>
        <a href="#venue-details">
            <span class="text">Venue Details</span>
            <span class="circle"></span>
        </a>
    </li>
</ul>

<div id="gallery-section" class="container gallery-section text-center">
    <div class="row thumbnail-gallery" data-bind="foreach: photos">
        <div class="col-xs-6 thumbnail-wrapper">
            <img class="img-responsive thumbnail-img disable-rightclick" data-bind="attr: {src: thumbnailUrl}" />
        </div>
    </div>
</div>

{{!--
<div id="our-story" class="infostitial text-section center-block text-center pad-section">
    <div class="text-vcenter">
        <h2>
            <img class="peach-blossom first" src="/images/peach-blossom.png" />Our Story
            <img class="second peach-blossom" src="/images/peach-blossom.png" />
        </h2>

        <p>On a breezy summer's day in 2011, Linda and Matthew met for the first time.</p>

        <p>
            After 3 and half years together (while becoming the most powerful Pucca Restaurant couple in the world!) Matthew popped the
            question at the Peak of the Dragon's Back hike in Hong Kong.
        </p>

        <p class="yes">
            <strong>Linda said... YES!</strong>
        </p>

        <p> Just over a year from that special moment we are finally ready to make it official!</p>
    </div>
</div> --}}
<div id="venue-details" class="container">
    <div class="row info-row">
        <div class="col-sm-12 infostitial center-block text-center">
            <div title="Add to Calendar" class="addeventatc">
                Add to Calendar
                <span class="start">2018-07-22 14:30</span>
                <span class="end">2018-07-22 23:59</span>
                <span class="timezone">Europe/London</span>
                <span class="title">Linda and Matthew's Wedding</span>
                <span class="description">
                    De Vere, Horsley Estate
                    <br> Ockham Road South,
                    <br> East Horsley,
                    <br> Surrey
                    <br> KT24 6DT
                    <br> 0148 328 4211
                    <br>
                </span>
                <span class="location">De Vere Horsley Estate, Ockham Rd S, East Horsley, Leatherhead KT24 6DT, UK</span>
                <span class="organizer">Linda and Matthew</span>
                <span class="organizer_email">tonyhkly@gmail.com</span>
                <span class="all_day_event">false</span>
                <span class="date_format">DD/MM/YYYY</span>
            </div>
            <h2>Ceremony and Reception</h2>

            <p class="text-uppercase">Sunday, July 22, 2018
                <br> 14:30 PM - 12:00 AM
                <br> De Vere, Horsley Estate
                <br> Ockham Road South
                <br> Horsley, Surrey
                <br> KT24 6DT
                <br>
                <a id="wedding-details-link" class="transform-none" href="/wedding-details" data-ajax="false">
                    See location on map
                </a>
            </p>
        </div>
    </div>
</div>
<div class="text-center backtotop">
    <a id="backtotop" class="snack-bar" href="#">
        <strong>Back to top</strong>
    </a>
</div>