<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{title}}</title>
    <!--<script type="text/javascript" src="/js/es5/helloworld.js"></script>-->
    <link rel="stylesheet" href="/stylesheets/vendor/foundation.css"/>
    <link rel='stylesheet' href='/stylesheets/css/wedding.css'/>
    <script src="/js/vendor/modernizr.js"></script>
    <link rel="icon" href="/images/wedding.ico"/>
</head>
<body>
<script src='//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/foundation/foundation.topbar.min.js'></script>
<!--<nav class="top-bar" data-topbar role="navigation">-->
    <!--<ul class="title-area">-->
        <!--<li class="name">-->
            <!--<h1><a href="#">My Site</a></h1>-->
        <!--</li>-->
        <!--&lt;!&ndash; Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone &ndash;&gt;-->
        <!--<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>-->
    <!--</ul>-->

    <!--<section class="top-bar-section">-->
        <!--&lt;!&ndash; Right Nav Section &ndash;&gt;-->
        <!--<ul class="right">-->
            <!--<li class="active"><a href="#">Right Button Active</a></li>-->
            <!--<li class="has-dropdown">-->
                <!--<a href="#">Right Button Dropdown</a>-->
                <!--<ul class="dropdown">-->
                    <!--<li><a href="#">First link in dropdown</a></li>-->
                    <!--<li class="active"><a href="#">Active link in dropdown</a></li>-->
                <!--</ul>-->
            <!--</li>-->
        <!--</ul>-->

        <!--&lt;!&ndash; Left Nav Section &ndash;&gt;-->
        <!--<ul class="left">-->
            <!--<li><a href="#">Left Nav Button</a></li>-->
        <!--</ul>-->
    <!--</section>-->
<!--</nav>-->
<section class="hero">
    <div class="row intro">
        <div class="small-centered medium-uncentered medium-6 large-7 columns">
            <h1>Brian and Andrea</h1>

            <p>Join us for the wedding</p>
        </div>
    </div>
</section>
</div>
<script src="js/vendor/jquery-2.1.4.js"></script>
<script src="js/vendor/knockout-3.3.0.js"></script>
<script src="js/vendor/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
