<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{title}}</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
          integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX"
          crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/css/wedding.css'/>
    <link rel='stylesheet' href='/stylesheets/css/navbar.css'/>
    <script src="/js/vendor/modernizr.js"></script>
    <link rel="icon" href="/images/bbc-favicon.ico"/>
</head>
<body>
<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brian and Andrea</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Welcome</a></li>
                <li><a href="#gallery">Gallery</a></li>
                <li><a href="#venue">Venue</a></li>
                <li><a href="#contactus">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>
<section class="hero">
    <div class="intro">
        <div class="col-md-6 col-lg-7">
            <h1>Brian and Andrea</h1>

            <p>Join us for the wedding</p>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-12 info-banner center-block">
            <h1>Join us for the wedding</h1>
            <p>Join us for the wedding Join us for the wedding Join us for the wedding Join us for the wedding</p>
        </div>
    </div>
</div>


<script src="js/vendor/jquery-2.1.4.js"></script>
<script src="js/vendor/knockout-3.3.0.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
        integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
        crossorigin="anonymous"></script>
</body>
</html>