<section class="hero">
    <div class="intro">
        <div class="col-md-6 col-lg-7">
            <h1>Brian and Andrea</h1>

            <p>Join us for the wedding</p>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-12 infostitial center-block text-center">
            <h2>Ceremony and Reception</h2>

            <p>SATURDAY, MAY 23, 2015<br>
                4:00 - 10:00 PM<br>

                The Modern Rustic<br>
                573 NW Love St<br>
                Portland, OR 97209</p>
        </div>
    </div>
    <div class="row thumbnail-gallery">
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="http://lorempixel.com/275/275/">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="http://www.nicenicejpg.com/275/275">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="https://www.placecage.com/275/275">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="http://www.fillmurray.com/275/275">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="http://www.fillmurray.com/275/275">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="https://www.placecage.com/275/275">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="http://www.nicenicejpg.com/275/275">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="http://lorempixel.com/275/275/">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="http://www.fillmurray.com/275/275">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="http://lorempixel.com/275/275/">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="https://www.placecage.com/275/275">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="http://www.nicenicejpg.com/275/275">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="http://www.fillmurray.com/275/275">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="http://lorempixel.com/275/275/">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="https://www.placecage.com/275/275">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img class="img-responsive" src="http://www.nicenicejpg.com/275/275">
        </div>
    </div>
</div>