.footer-basic-centered {
  background-color: #878787;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  text-align: center;
  font-size: 17px;
  padding: 25px 0;
  margin-top: 50px; }

.footer-basic-centered .footer-company-name {
  color: #fff;
  font-size: 14px;
  margin: 0; }

.footer-basic-centered .footer-links {
  list-style: none;
  font-weight: bold;
  color: #fff;
  padding: 5px 0 20px;
  margin: 0; }

.footer-basic-centered .footer-links a {
  display: inline-block;
  text-decoration: none;
  color: inherit; }

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 600px) {
  .footer-basic-centered {
    padding: 25px 0; }
  .footer-basic-centered .footer-company-name {
    font-size: 12px; }
  .footer-basic-centered .footer-links {
    font-size: 14px;
    padding: 5px 0 15px; }
  .footer-basic-centered .footer-links a {
    line-height: 1.8; } }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImZvb3Rlci5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUVBO0VBQ0UsMEJBQTBCO0VBQzFCLDRDQUE0QjtFQUM1Qix1QkFBdUI7RUFDdkIsbUJBQW1CO0VBQ25CLGdCQUFnQjtFQUNoQixnQkFBZ0I7RUFDaEIsaUJBQWlCLEVBUEs7O0FBVUQ7RUFDckIsWUFBWTtFQUNaLGdCQUFnQjtFQUNoQixVQUFVLEVBSGlDOztBQU10QjtFQUNyQixpQkFBaUI7RUFDakIsa0JBQWtCO0VBQ2xCLFlBQVk7RUFDWixvQkFBbUI7RUFDbkIsVUFBVSxFQUwwQjs7QUFRRDtFQUNuQyxzQkFBc0I7RUFDdEIsc0JBQXNCO0VBQ3RCLGVBQWUsRUFIdUI7O0FBTXhDLCtFQUErRTtBQUUvRTtFQUVFO0lBQ0UsZ0JBQWdCLEVBRE07RUFJRDtJQUNyQixnQkFBZ0IsRUFEMkI7RUFJdEI7SUFDckIsZ0JBQWdCO0lBQ2hCLG9CQUFtQixFQUZpQjtFQUtEO0lBQ25DLGlCQUFpQixFQURxQixFQUFBIiwiZmlsZSI6ImZvb3Rlci5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIkZm9vdGVyLWNvbG91cjogI2Y1ZjVmNTtcblxuLmZvb3Rlci1iYXNpYy1jZW50ZXJlZCB7XG4gIGJhY2tncm91bmQtY29sb3I6ICM4Nzg3ODc7XG4gIGJveC1zaGFkb3c6IDAgMXB4IDFweCAwIHJnYmEoMCwgMCwgMCwgMC4xMik7XG4gIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgZm9udC1zaXplOiAxN3B4O1xuICBwYWRkaW5nOiAyNXB4IDA7XG4gIG1hcmdpbi10b3A6IDUwcHg7XG59XG5cbi5mb290ZXItYmFzaWMtY2VudGVyZWQgLmZvb3Rlci1jb21wYW55LW5hbWUge1xuICBjb2xvcjogI2ZmZjtcbiAgZm9udC1zaXplOiAxNHB4O1xuICBtYXJnaW46IDA7XG59XG5cbi5mb290ZXItYmFzaWMtY2VudGVyZWQgLmZvb3Rlci1saW5rcyB7XG4gIGxpc3Qtc3R5bGU6IG5vbmU7XG4gIGZvbnQtd2VpZ2h0OiBib2xkO1xuICBjb2xvcjogI2ZmZjtcbiAgcGFkZGluZzogNXB4IDAgMjBweDtcbiAgbWFyZ2luOiAwO1xufVxuXG4uZm9vdGVyLWJhc2ljLWNlbnRlcmVkIC5mb290ZXItbGlua3MgYSB7XG4gIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xuICBjb2xvcjogaW5oZXJpdDtcbn1cblxuLyogSWYgeW91IGRvbid0IHdhbnQgdGhlIGZvb3RlciB0byBiZSByZXNwb25zaXZlLCByZW1vdmUgdGhlc2UgbWVkaWEgcXVlcmllcyAqL1xuXG5AbWVkaWEgKG1heC13aWR0aDogNjAwcHgpIHtcblxuICAuZm9vdGVyLWJhc2ljLWNlbnRlcmVkIHtcbiAgICBwYWRkaW5nOiAyNXB4IDA7XG4gIH1cblxuICAuZm9vdGVyLWJhc2ljLWNlbnRlcmVkIC5mb290ZXItY29tcGFueS1uYW1lIHtcbiAgICBmb250LXNpemU6IDEycHg7XG4gIH1cblxuICAuZm9vdGVyLWJhc2ljLWNlbnRlcmVkIC5mb290ZXItbGlua3Mge1xuICAgIGZvbnQtc2l6ZTogMTRweDtcbiAgICBwYWRkaW5nOiA1cHggMCAxNXB4O1xuICB9XG5cbiAgLmZvb3Rlci1iYXNpYy1jZW50ZXJlZCAuZm9vdGVyLWxpbmtzIGEge1xuICAgIGxpbmUtaGVpZ2h0OiAxLjg7XG4gIH1cbn0iXSwic291cmNlUm9vdCI6Ii9zb3VyY2UvIn0= */
