#map {
  height: 80vh;
  margin-bottom: 20px; }

.ios .map {
  height: 550px; }

.map-page p {
  text-transform: none; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm1hcC5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0UsYUFBYTtFQUNiLG9CQUFvQixFQUZoQjs7QUFLRDtFQUNILGNBQWMsRUFETDs7QUFLVDtFQUNFLHFCQUFxQixFQURwQiIsImZpbGUiOiJtYXAuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiI21hcCB7XG4gIGhlaWdodDogODB2aDtcbiAgbWFyZ2luLWJvdHRvbTogMjBweDtcbn1cblxuLmlvcyAubWFwIHtcbiAgaGVpZ2h0OiA1NTBweDtcbn1cblxuLm1hcC1wYWdlIHtcbiAgcCB7XG4gICAgdGV4dC10cmFuc2Zvcm06IG5vbmU7XG4gIH1cbn0iXSwic291cmNlUm9vdCI6Ii9zb3VyY2UvIn0= */
