.navbar {
  margin-bottom: 0; }
  .navbar .navbar-brand {
    font-size: 20px;
    color: #000;
    letter-spacing: 2px; }
  .navbar .navbar-nav a {
    font-size: 16px; }
  .navbar .nav a {
    color: #c4c4c4;
    letter-spacing: 1px; }
  .navbar .nav a:hover {
    background: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    color: #dedede !important; }
  .navbar .icon-bar {
    background: #000; }
  .navbar .container {
    margin-top: 10px;
    margin-bottom: 10px; }

.home-page .nav-welcome a,
.map-page .nav-map a {
  color: #000; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm5hdmJhci5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUlBO0VBQ0UsaUJBQWlCLEVBRFY7RUFHUDtJQUNFLGdCQUFnQjtJQUNoQixZQVJRO0lBU1Isb0JBQW9CLEVBSFA7RUFNSDtJQUNWLGdCQUFnQixFQURIO0VBSVY7SUFDSCxlQWhCYTtJQWlCYixvQkFBb0IsRUFGZDtFQUtGO0lBQ0osNEJBQTRCO0lBRTVCLDRCQUE0QjtJQUc1Qiw0QkFBNEI7SUFDNUIsNkJBQTZCO0lBQzdCLDBCQUEwQixFQVJkO0VBV2Q7SUFDRSxpQkFqQ1EsRUFnQ0M7RUFJWDtJQUNFLGlCQUFpQjtJQUNqQixvQkFBb0IsRUFGVjs7QUFPSzs7RUFDakIsWUE1Q1UsRUEyQ1UiLCJmaWxlIjoibmF2YmFyLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIiR3aGl0ZTogI2ZmZjtcbiRibGFjazogIzAwMDtcbiRkZWZhdWx0OiAjYzRjNGM0O1xuXG4ubmF2YmFyIHtcbiAgbWFyZ2luLWJvdHRvbTogMDtcblxuICAubmF2YmFyLWJyYW5kIHtcbiAgICBmb250LXNpemU6IDIwcHg7XG4gICAgY29sb3I6ICRibGFjaztcbiAgICBsZXR0ZXItc3BhY2luZzogMnB4O1xuICB9XG5cbiAgLm5hdmJhci1uYXYgYSB7XG4gICAgZm9udC1zaXplOiAxNnB4O1xuICB9XG5cbiAgLm5hdiBhIHtcbiAgICBjb2xvcjogJGRlZmF1bHQ7XG4gICAgbGV0dGVyLXNwYWNpbmc6IDFweDtcbiAgfVxuXG4gIC5uYXYgYTpob3ZlciB7XG4gICAgYmFja2dyb3VuZDogbm9uZSAhaW1wb3J0YW50O1xuICAgIC13ZWJraXQtYm9yZGVyLXJhZGl1czogMCAhaW1wb3J0YW50O1xuICAgIGJvcmRlci1yYWRpdXM6IDAgIWltcG9ydGFudDtcbiAgICAtbW96LWJveC1zaGFkb3c6IG5vbmUgIWltcG9ydGFudDtcbiAgICAtd2Via2l0LWJveC1zaGFkb3c6IG5vbmUgIWltcG9ydGFudDtcbiAgICBib3gtc2hhZG93OiBub25lICFpbXBvcnRhbnQ7XG4gICAgdGV4dC1zaGFkb3c6IG5vbmUgIWltcG9ydGFudDtcbiAgICBjb2xvcjogI2RlZGVkZSAhaW1wb3J0YW50O1xuICB9XG5cbiAgLmljb24tYmFyIHtcbiAgICBiYWNrZ3JvdW5kOiAkYmxhY2s7XG4gIH1cblxuICAuY29udGFpbmVyIHtcbiAgICBtYXJnaW4tdG9wOiAxMHB4O1xuICAgIG1hcmdpbi1ib3R0b206IDEwcHg7XG4gIH1cbn1cblxuLmhvbWUtcGFnZSAubmF2LXdlbGNvbWUgYSxcbi5tYXAtcGFnZSAubmF2LW1hcCBhIHtcbiAgY29sb3I6ICRibGFjaztcbn1cblxuIl0sInNvdXJjZVJvb3QiOiIvc291cmNlLyJ9 */
