@media (min-width: 1200px) {
  .form-container {
    width: 800px; } }

@media (min-width: 992px) {
  .form-container {
    width: 700px; } }

.form {
  margin-top: 20px; }

.form-control:focus {
  border-color: #61A38A;
  box-shadow: inset 0 1px 1px #94D6BD, 0 0 8px #7ABCA3; }

.radio, .control-label {
  color: #000 !important;
}

.send {
  margin-top: 10px;
  width: 210px;
  height: 50px;
  font-size: 16px; }

.email-sent {
  display: none; }

.hello-kitty {
  margin-top: 10px;
  width: 500px; }

.display-block {
  display: block !important; }

.display-none {
  display: none !important; }

.display-inline-block {
  display: inline-block; }

.em-disappointed {
  margin-bottom: 1px; }

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fff;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.5;
  font-size: 40px; }
  .overlay.overlay-show {
    display: block;
    z-index: 1; }
  .overlay .overlay-text {
    position: absolute;
    top: 40%;
    width: 200px;
    margin-left: -100px; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInJzdnAuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFNQTtFQUNFO0lBQ0UsYUFBYSxFQURFLEVBQUE7O0FBS25CO0VBQ0U7SUFDRSxhQUFhLEVBREUsRUFBQTs7QUFLbkI7RUFDRSxpQkFBaUIsRUFEWjs7QUFJTTtFQUNYLHNCQXBCb0I7RUFxQnBCLHFEQXRCb0IsRUFvQkQ7O0FBS2I7RUFDTix1QkFBdUIsRUFERDs7QUFJeEI7RUFDRSxpQkFBaUI7RUFDakIsYUFBYTtFQUNiLGFBQWE7RUFDYixnQkFBZ0IsRUFKWDs7QUFPUDtFQUNFLGNBQWMsRUFESDs7QUFJYjtFQUNFLGlCQUFpQjtFQUNqQixhQUFhLEVBRkQ7O0FBS2Q7RUFDRSwwQkFBMEIsRUFEWjs7QUFJaEI7RUFDRSx5QkFBeUIsRUFEWjs7QUFJZjtFQUNFLHNCQUFzQixFQUREOztBQUl2QjtFQUNFLG1CQUFtQixFQURIOztBQU1sQjtFQUNFLGNBQWM7RUFDZCxtQkFBbUI7RUFDbkIsT0FBTztFQUNQLFFBQVE7RUFDUixZQUFZO0VBQ1osYUFBYTtFQUNiLG1CQUFtQjtFQUNuQixpQkFBaUI7RUFDakIscUNBQW9DO0VBQ3BDLGFBQWE7RUFDYixnQkFBZ0IsRUFYUjtFQWFQO0lBQ0MsZUFBZTtJQUNmLFdBQVcsRUFGRztFQUtoQjtJQUNFLG1CQUFtQjtJQUNuQixTQUFTO0lBQ1QsYUFBYTtJQUNiLG9CQUFvQixFQUpQIiwiZmlsZSI6InJzdnAuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiJGxpZ2h0LWdyZWVuOiAjYWRlZmQ2O1xuJGxpZ2h0LWdyZWVuMjogIzk0RDZCRDtcbiRsaWdodC1ncmVlbjM6ICM3QUJDQTM7XG4kbGlnaHQtZ3JlZW40OiAjNjFBMzhBO1xuJGxpZ2h0LWdyZWVuNTogIzQ3ODk3MDtcblxuQG1lZGlhIChtaW4td2lkdGg6IDEyMDBweCkge1xuICAuZm9ybS1jb250YWluZXIge1xuICAgIHdpZHRoOiA4MDBweDtcbiAgfVxufVxuXG5AbWVkaWEgKG1pbi13aWR0aDogOTkycHgpIHtcbiAgLmZvcm0tY29udGFpbmVyIHtcbiAgICB3aWR0aDogNzAwcHg7XG4gIH1cbn1cblxuLmZvcm0ge1xuICBtYXJnaW4tdG9wOiAyMHB4O1xufVxuXG4uZm9ybS1jb250cm9sOmZvY3VzIHtcbiAgYm9yZGVyLWNvbG9yOiAkbGlnaHQtZ3JlZW40O1xuICBib3gtc2hhZG93OiBpbnNldCAwIDFweCAxcHggJGxpZ2h0LWdyZWVuMiwgMCAwIDhweCAkbGlnaHQtZ3JlZW4zO1xufVxuXG4ucmFkaW8sIC5jb250cm9sLWxhYmVsIHtcbiAgY29sb3I6ICMwMDAgIWltcG9ydGFudDtcbn1cblxuLnNlbmQge1xuICBtYXJnaW4tdG9wOiAxMHB4O1xuICB3aWR0aDogMjEwcHg7XG4gIGhlaWdodDogNTBweDtcbiAgZm9udC1zaXplOiAxNnB4O1xufVxuXG4uZW1haWwtc2VudCB7XG4gIGRpc3BsYXk6IG5vbmU7XG59XG5cbi5oZWxsby1raXR0eSB7XG4gIG1hcmdpbi10b3A6IDEwcHg7XG4gIHdpZHRoOiA1MDBweDtcbn1cblxuLmRpc3BsYXktYmxvY2sge1xuICBkaXNwbGF5OiBibG9jayAhaW1wb3J0YW50O1xufVxuXG4uZGlzcGxheS1ub25lIHtcbiAgZGlzcGxheTogbm9uZSAhaW1wb3J0YW50O1xufVxuXG4uZGlzcGxheS1pbmxpbmUtYmxvY2sge1xuICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG59XG5cbi5lbS1kaXNhcHBvaW50ZWQge1xuICBtYXJnaW4tYm90dG9tOiAxcHg7XG59XG5cbiRyZXN1bHRzLWxvYWRpbmctZHVyYXRpb246IDJzO1xuXG4ub3ZlcmxheSB7XG4gIGRpc3BsYXk6IG5vbmU7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgdG9wOiAwO1xuICBsZWZ0OiAwO1xuICB3aWR0aDogMTAwJTtcbiAgaGVpZ2h0OiAxMDAlO1xuICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gIGJhY2tncm91bmQ6ICNmZmY7XG4gIHRyYW5zaXRpb246IG9wYWNpdHkgMC4ycyBlYXNlLWluLW91dDtcbiAgb3BhY2l0eTogMC41O1xuICBmb250LXNpemU6IDQwcHg7XG5cbiAgJi5vdmVybGF5LXNob3cge1xuICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgIHotaW5kZXg6IDE7XG4gIH1cblxuICAub3ZlcmxheS10ZXh0IHtcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgdG9wOiA0MCU7XG4gICAgd2lkdGg6IDIwMHB4O1xuICAgIG1hcmdpbi1sZWZ0OiAtMTAwcHg7XG4gIH1cbn1cbiJdLCJzb3VyY2VSb290IjoiL3NvdXJjZS8ifQ== */
