@media (min-width: 1200px) {
  #tea-gallery-section {
    width: 1000px; } }

.tea-header {
  margin-top: 15px;
  margin-bottom: 35px; }

.tea-wrapper {
  padding-right: 0;
  padding-left: 0; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInRlYS5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0U7SUFDRSxjQUFjLEVBRE0sRUFBQTs7QUFLeEI7RUFDRSxpQkFBaUI7RUFDakIsb0JBQW9CLEVBRlQ7O0FBS2I7RUFDRSxpQkFBaUI7RUFDakIsZ0JBQWdCLEVBRkoiLCJmaWxlIjoidGVhLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIkBtZWRpYSAobWluLXdpZHRoOiAxMjAwcHgpIHtcbiAgI3RlYS1nYWxsZXJ5LXNlY3Rpb24ge1xuICAgIHdpZHRoOiAxMDAwcHg7XG4gIH1cbn1cblxuLnRlYS1oZWFkZXIge1xuICBtYXJnaW4tdG9wOiAxNXB4O1xuICBtYXJnaW4tYm90dG9tOiAzNXB4O1xufVxuXG4udGVhLXdyYXBwZXIge1xuICBwYWRkaW5nLXJpZ2h0OiAwO1xuICBwYWRkaW5nLWxlZnQ6IDA7XG59XG4iXSwic291cmNlUm9vdCI6Ii9zb3VyY2UvIn0= */
