@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  font-family: 'Open Sans', sans-serif !important; }

h1,
h2,
strong {
  text-transform: uppercase; }

.transform-none {
  text-transform: none; }

.mobile .hero {
  background-image: url("/images/hero/hero-mobile.jpg"); }

.navbar-seperator {
  margin-top: 0;
  margin-bottom: 0; }

.parallax-bg {
  color: #fff;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  background: no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.parallax-bg h1 {
  letter-spacing: 4px;
  font-size: 6em;
  font-weight: normal; }

#hero {
  background-image: url("/images/hero/hero.jpg");
  background-position: center 25px; }

#proposal {
  background-image: url("/images/hero/hero-2.jpg"); }

#yes {
  background-image: url("/images/hero/hero-3.jpg"); }

.hero {
  height: 100vh; }
  .hero h1 {
    font-size: 3.2rem;
    line-height: 1.6em;
    font-weight: 300;
    text-align: center; }
  .hero p {
    line-height: 1.75em;
    font-weight: 200;
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 2rem; }
  @media only screen and (min-width: 992px) {
    .hero h1 {
      font-size: 5.5rem; }
    .hero p {
      font-size: 2.5rem; } }

.ios .parallax-bg {
  height: 600px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll; }

.mobile .parallax-bg {
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll; }

/* padded section */
.pad-section {
  padding: 50px 0; }

.pad-section img {
  width: 100%; }

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0; }

.infostitial {
  width: 66.66%;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 20px 0;
  float: none;
  border: 3px solid;
  border-color: #8d2159 #A73B73 #c0548c; }
  .infostitial h2 {
    color: #A73B73; }
  .infostitial p {
    font-size: 20px; }
  @media only screen and (max-width: 40.063em) {
    .infostitial {
      width: 99.99%; } }
  .infostitial a {
    font-size: 18px; }

.text-section {
  border: none;
  padding: 130px 15px; }
  .text-section h2 {
    margin-top: 0;
    color: #000;
    font-size: 54px; }
  .text-section h3 {
    color: #A73B73;
    font-size: 28px; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIndlZGRpbmcuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSwrREFBWTtBQW1CWjtFQUNFLGdEQUFnRCxFQUQvQzs7QUFNSDs7O0VBQ0UsMEJBQTBCLEVBRHBCOztBQUlSO0VBQ0UscUJBQXFCLEVBRE47O0FBSVQ7RUFDTixzREE5QmUsRUE2QkY7O0FBSWY7RUFDRSxjQUFjO0VBQ2QsaUJBQWlCLEVBRkE7O0FBS25CO0VBQ0UsWUFBWTtFQUNaLGVBQWU7RUFDZixjQUFjO0VBQ2QsbUJBQW1CO0VBQ25CLFlBQVk7RUFDWiwwQ0FBMEM7RUFDMUMsdUJBQXVCO0VBQ3ZCLCtCQUErQjtFQUMvQiw0QkFBNEI7RUFDNUIsMEJBQTBCLEVBVmQ7O0FBYUQ7RUFDWCxvQkFBb0I7RUFDcEIsZUExQzRCO0VBMkM1QixvQkFBb0IsRUFITDs7QUFNakI7RUFBUSwrQ0ExRFE7RUEwRHVCLGlDQUFnQyxFQUFoRTs7QUFFUDtFQUFZLGlEQUFxQixFQUF0Qjs7QUFDWDtFQUFPLGlEQUFxQixFQUF0Qjs7QUFFTjtFQUNFLGNBQWMsRUFEVDtFQUdMO0lBQ0Usa0JBeERpQjtJQXlEakIsbUJBQW1CO0lBQ25CLGlCQUFpQjtJQUNqQixtQkFBbUIsRUFKakI7RUFNSjtJQUNFLG9CQUFvQjtJQUNwQixpQkFBaUI7SUFDakIsa0JBOURvQjtJQStEcEIsbUJBQW1CO0lBQ25CLG9CQUFvQixFQUxuQjtFQU9IO0lBQ0U7TUFDRSxrQkFBa0IsRUFEaEI7SUFHSjtNQUNFLGtCQUFrQixFQURqQixFQUFBOztBQU1GO0VBQ0gsY0F2RnFCO0VBd0ZyQiw2QkFBNkI7RUFDN0IsbUNBQW1DO0VBQ25DLDhCQUE4QixFQUpiOztBQU9YO0VBQ04sY0E3RndCO0VBOEZ4Qiw2QkFBNkI7RUFDN0IsbUNBQW1DO0VBQ25DLDhCQUE4QixFQUpWOztBQU90QixvQkFBb0I7QUFDcEI7RUFDRSxnQkFBZ0IsRUFESjs7QUFHRDtFQUNYLFlBQVksRUFESTs7QUFJbEIsNEJBQTRCO0FBQzVCO0VBQ0Usb0JBQW9CO0VBQ3BCLG1CQUFtQjtFQUNuQix1QkFBdUIsRUFIVjs7QUFLRDtFQUNaLGlCQXhHZTtFQXlHZixpQkFBaUI7RUFDakIsVUFBVTtFQUNWLFdBQVcsRUFKSzs7QUFPbEI7RUFDRSxjQUFjO0VBQ2QsaUJBQWlCO0VBQ2pCLG9CQUFvQjtFQUNwQixnQkFBZ0I7RUFDaEIsWUFBWTtFQUNaLGtCQUFrQjtFQUNsQixzQ0FBcUMsRUFQekI7RUFTWjtJQUNFLGVBL0hrQixFQThIaEI7RUFJSjtJQUNFLGdCQUFnQixFQURmO0VBSUg7SUFqQkY7TUFrQkksY0FBYyxFQWxCSixFQUFBO0VBcUJaO0lBQ0UsZ0JBQWdCLEVBRGY7O0FBS0w7RUFDRSxhQUFhO0VBQ2Isb0JBQW1CLEVBRk47RUFJYjtJQUNFLGNBQWM7SUFDZCxZQUFZO0lBQ1osZ0JBcEplLEVBaUpiO0VBTUo7SUFDRSxlQTFKa0I7SUEySmxCLGdCQXhKZSxFQXNKYiIsImZpbGUiOiJ3ZWRkaW5nLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgdXJsKGh0dHBzOi8vZm9udHMuZ29vZ2xlYXBpcy5jb20vY3NzP2ZhbWlseT1PcGVuK1NhbnMpO1xuXG4vL0hlcm8gSW1hZ2VzXG4kaGVyby1pbWFnZTogdXJsKFwiL2ltYWdlcy9oZXJvL2hlcm8uanBnXCIpO1xuJGhlcm8tbW9iaWxlOiB1cmwoXCIvaW1hZ2VzL2hlcm8vaGVyby1tb2JpbGUuanBnXCIpO1xuJGhlcm8taGVpZ2h0OiA4MDBweDtcbiRpb3MtaGVyby1oZWlnaHQ6IDYwMHB4O1xuJG1vYmlsZS1oZXJvLWhlaWdodDogNTAwcHg7XG4vL0NvbG91cnNcbiRwdXJwbGU6ICM4ZDIxNTk7XG4kbGlnaHQtcHVycGxlOiAjQTczQjczO1xuLy9Gb250IFNpemVzXG4kaDItZm9udC1zaXplOiA1NHB4O1xuJGgzLWZvbnQtc2l6ZTogMjhweDtcbiRoMS1mb250LXNpemU6IDMuMnJlbTtcbiRwYXJhbGxheC1iZy1oMS1mb250LXNpemU6IDZlbTtcbiRoZXJvLXAtZm9udC1zaXplOjEuOXJlbTtcbiRoMS12Y2VudGVyOjQuNWVtO1xuXG4qIHtcbiAgZm9udC1mYW1pbHk6ICdPcGVuIFNhbnMnLCBzYW5zLXNlcmlmICFpbXBvcnRhbnQ7XG59XG5cbmgxLFxuaDIsXG5zdHJvbmcge1xuICB0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlO1xufVxuXG4udHJhbnNmb3JtLW5vbmUge1xuICB0ZXh0LXRyYW5zZm9ybTogbm9uZTtcbn1cblxuLm1vYmlsZSAuaGVybyB7XG4gIGJhY2tncm91bmQtaW1hZ2U6ICRoZXJvLW1vYmlsZTtcbn1cblxuLm5hdmJhci1zZXBlcmF0b3Ige1xuICBtYXJnaW4tdG9wOiAwO1xuICBtYXJnaW4tYm90dG9tOiAwO1xufVxuXG4ucGFyYWxsYXgtYmcge1xuICBjb2xvcjogI2ZmZjtcbiAgZGlzcGxheTogdGFibGU7XG4gIGhlaWdodDogODAwcHg7XG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgd2lkdGg6IDEwMCU7XG4gIGJhY2tncm91bmQ6IG5vLXJlcGVhdCBjZW50ZXIgY2VudGVyIGZpeGVkO1xuICBiYWNrZ3JvdW5kLXNpemU6IGNvdmVyO1xuICAtd2Via2l0LWJhY2tncm91bmQtc2l6ZTogY292ZXI7XG4gIC1tb3otYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcbiAgLW8tYmFja2dyb3VuZC1zaXplOiBjb3Zlcjtcbn1cblxuLnBhcmFsbGF4LWJnIGgxIHtcbiAgbGV0dGVyLXNwYWNpbmc6IDRweDtcbiAgZm9udC1zaXplOiAkcGFyYWxsYXgtYmctaDEtZm9udC1zaXplO1xuICBmb250LXdlaWdodDogbm9ybWFsO1xufVxuXG4jaGVybyB7IGJhY2tncm91bmQtaW1hZ2U6ICRoZXJvLWltYWdlOyBiYWNrZ3JvdW5kLXBvc2l0aW9uOiBjZW50ZXIgMjVweCB9XG4vLyNoZXJvIHsgYmFja2dyb3VuZC1pbWFnZTogJGhlcm8taW1hZ2U7IGJhY2tncm91bmQtcG9zaXRpb246IGNlbnRlciB0b3AgfSAvL0FkZCBUYWJsZXQgc3BlY2lmaWMgc3VwcG9ydCBzbyB5b3UgZG9udCBoYXZlIHRvIGRvIHRoaXNcbiNwcm9wb3NhbCB7IGJhY2tncm91bmQtaW1hZ2U6IHVybChcIi9pbWFnZXMvaGVyby9oZXJvLTIuanBnXCIpOyB9XG4jeWVzIHsgYmFja2dyb3VuZC1pbWFnZTogdXJsKFwiL2ltYWdlcy9oZXJvL2hlcm8tMy5qcGdcIik7IH1cblxuLmhlcm8ge1xuICBoZWlnaHQ6IDEwMHZoO1xuXG4gIGgxIHtcbiAgICBmb250LXNpemU6ICRoMS1mb250LXNpemU7XG4gICAgbGluZS1oZWlnaHQ6IDEuNmVtO1xuICAgIGZvbnQtd2VpZ2h0OiAzMDA7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICB9XG4gIHAge1xuICAgIGxpbmUtaGVpZ2h0OiAxLjc1ZW07XG4gICAgZm9udC13ZWlnaHQ6IDIwMDtcbiAgICBmb250LXNpemU6ICRoZXJvLXAtZm9udC1zaXplO1xuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgICBtYXJnaW4tYm90dG9tOiAycmVtO1xuICB9XG4gIEBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1pbi13aWR0aDogOTkycHgpIHtcbiAgICBoMSB7XG4gICAgICBmb250LXNpemU6IDUuNXJlbTtcbiAgICB9XG4gICAgcCB7XG4gICAgICBmb250LXNpemU6IDIuNXJlbTtcbiAgICB9XG4gIH1cbn1cblxuLmlvcyAucGFyYWxsYXgtYmcge1xuICBoZWlnaHQ6ICRpb3MtaGVyby1oZWlnaHQ7XG4gIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gIGJhY2tncm91bmQtcG9zaXRpb246IGNlbnRlciBjZW50ZXI7XG4gIGJhY2tncm91bmQtYXR0YWNobWVudDogc2Nyb2xsO1xufVxuXG4ubW9iaWxlIC5wYXJhbGxheC1iZyB7XG4gIGhlaWdodDogJG1vYmlsZS1oZXJvLWhlaWdodDtcbiAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vLXJlcGVhdDtcbiAgYmFja2dyb3VuZC1wb3NpdGlvbjogY2VudGVyIGNlbnRlcjtcbiAgYmFja2dyb3VuZC1hdHRhY2htZW50OiBzY3JvbGw7XG59XG5cbi8qIHBhZGRlZCBzZWN0aW9uICovXG4ucGFkLXNlY3Rpb24ge1xuICBwYWRkaW5nOiA1MHB4IDA7XG59XG4ucGFkLXNlY3Rpb24gaW1nIHtcbiAgd2lkdGg6IDEwMCU7XG59XG5cbi8qIHZlcnRpY2FsLWNlbnRlcmVkIHRleHQgKi9cbi50ZXh0LXZjZW50ZXIge1xuICBkaXNwbGF5OiB0YWJsZS1jZWxsO1xuICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gIHZlcnRpY2FsLWFsaWduOiBtaWRkbGU7XG59XG4udGV4dC12Y2VudGVyIGgxIHtcbiAgZm9udC1zaXplOiAkaDEtdmNlbnRlcjtcbiAgZm9udC13ZWlnaHQ6IDcwMDtcbiAgbWFyZ2luOiAwO1xuICBwYWRkaW5nOiAwO1xufVxuXG4uaW5mb3N0aXRpYWwge1xuICB3aWR0aDogNjYuNjYlO1xuICBtYXJnaW4tdG9wOiA3MHB4O1xuICBtYXJnaW4tYm90dG9tOiA3MHB4O1xuICBwYWRkaW5nOiAyMHB4IDA7XG4gIGZsb2F0OiBub25lO1xuICBib3JkZXI6IDNweCBzb2xpZDtcbiAgYm9yZGVyLWNvbG9yOiAkcHVycGxlICNBNzNCNzMgI2MwNTQ4YztcblxuICBoMiB7XG4gICAgY29sb3I6ICRsaWdodC1wdXJwbGU7XG4gIH1cbiAgLy9EQTZFQTZcbiAgcCB7XG4gICAgZm9udC1zaXplOiAyMHB4O1xuICB9XG5cbiAgQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWF4LXdpZHRoOiA0MC4wNjNlbSkge1xuICAgIHdpZHRoOiA5OS45OSU7XG4gIH1cblxuICBhIHtcbiAgICBmb250LXNpemU6IDE4cHg7XG4gIH1cbn1cblxuLnRleHQtc2VjdGlvbiB7XG4gIGJvcmRlcjogbm9uZTtcbiAgcGFkZGluZzogMTMwcHggMTVweDtcblxuICBoMiB7XG4gICAgbWFyZ2luLXRvcDogMDtcbiAgICBjb2xvcjogIzAwMDtcbiAgICBmb250LXNpemU6ICRoMi1mb250LXNpemU7XG4gIH1cblxuICBoMyB7XG4gICAgY29sb3I6ICRsaWdodC1wdXJwbGU7XG4gICAgZm9udC1zaXplOiAkaDMtZm9udC1zaXplO1xuICB9XG59Il0sInNvdXJjZVJvb3QiOiIvc291cmNlLyJ9 */
