* {
  font-family: 'Open Sans', sans-serif !important; }

.navbar-seperator {
  margin-top: 0;
  margin-bottom: 0; }

h1,
h2,
h3,
h4,
strong {
  text-transform: uppercase; }

h3, h4 {
  color: #A73B73; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

.desktop-visible {
  display: none; }

.desktop .desktop-visible {
  display: block; }

.desktop .desktop-hidden,
.tablet .tablet-hidden,
.mobile .phone-hidden {
  display: none !important; }

.transform-none {
  text-transform: none; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIndlZGRpbmctbGF5b3V0LnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBS0E7RUFDRSxnREFBZ0QsRUFEL0M7O0FBSUg7RUFDRSxjQUFjO0VBQ2QsaUJBQWlCLEVBRkE7O0FBU25COzs7OztFQUNFLDBCQUEwQixFQURwQjs7QUFJSjtFQUNGLGVBdkJvQixFQXNCZDs7QUFJUjtFQUNFLGdCQXpCaUIsRUF3QmY7O0FBSUo7RUFDRSxnQkE1QmlCLEVBMkJmOztBQUlKO0VBQ0UsY0FBYyxFQURFOztBQUlUO0VBQ1AsZUFBZSxFQURVOztBQU1uQjs7O0VBQ04seUJBQXlCLEVBREo7O0FBSXZCO0VBQ0UscUJBQXFCLEVBRE4iLCJmaWxlIjoid2VkZGluZy1sYXlvdXQuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiJGxpZ2h0LXB1cnBsZTogI0E3M0I3Mztcbi8vV2VkZGluZyB0aGVtZSAtIExpZ2h0IEdyZWVuICNhZGVmZDZcbiRoMy1mb250LXNpemU6IDI4cHg7XG4kaDQtZm9udC1zaXplOiAyMnB4O1xuXG4qIHtcbiAgZm9udC1mYW1pbHk6ICdPcGVuIFNhbnMnLCBzYW5zLXNlcmlmICFpbXBvcnRhbnQ7XG59XG5cbi5uYXZiYXItc2VwZXJhdG9yIHtcbiAgbWFyZ2luLXRvcDogMDtcbiAgbWFyZ2luLWJvdHRvbTogMDtcbn1cblxuaDEsXG5oMixcbmgzLFxuaDQsXG5zdHJvbmcge1xuICB0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlO1xufVxuXG5oMywgaDQge1xuICBjb2xvcjogJGxpZ2h0LXB1cnBsZTtcbn1cblxuaDMge1xuICBmb250LXNpemU6ICRoMy1mb250LXNpemU7XG59XG5cbmg0IHtcbiAgZm9udC1zaXplOiAkaDQtZm9udC1zaXplO1xufVxuXG4uZGVza3RvcC12aXNpYmxlIHtcbiAgZGlzcGxheTogbm9uZTtcbn1cblxuLmRlc2t0b3AgLmRlc2t0b3AtdmlzaWJsZSB7XG4gIGRpc3BsYXk6IGJsb2NrO1xufVxuXG4uZGVza3RvcCAuZGVza3RvcC1oaWRkZW4sXG4udGFibGV0IC50YWJsZXQtaGlkZGVuLFxuLm1vYmlsZSAucGhvbmUtaGlkZGVuIHtcbiAgZGlzcGxheTogbm9uZSAhaW1wb3J0YW50O1xufVxuXG4udHJhbnNmb3JtLW5vbmUge1xuICB0ZXh0LXRyYW5zZm9ybTogbm9uZTtcbn1cbiJdLCJzb3VyY2VSb290IjoiL3NvdXJjZS8ifQ== */
