@import url(http://fonts.googleapis.com/css?family=Open+Sans);
* {
  font-family: 'Open Sans', sans-serif !important;
  text-transform: uppercase; }

body {
  min-width: 640px !important; }

.hero {
  background: url("/images/test.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh; }
  .hero:before {
    margin-top: 50px;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    z-index: -1;
    opacity: .3; }
  .hero .intro {
    padding: 3rem;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .hero h1 {
    color: #fff;
    font-size: 3rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase; }
  .hero p {
    color: #fff;
    line-height: 1.75em;
    font-weight: 200;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase; }
  @media only screen and (min-width: 40.063em) {
    .hero h1 {
      padding-top: 4.5rem;
      text-align: right;
      font-size: 5.5rem; }
    .hero p {
      font-size: 2.5rem;
      text-align: right; } }

.infostitial {
  width: 66.66%;
  padding: 45px 0;
  float: none; }
  .infostitial p {
    font-size: 20px; }
  @media only screen and (max-width: 40.063em) {
    .infostitial {
      width: 99.99%; } }
  .infostitial a {
    text-transform: none;
    font-size: 18px; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIndlZGRpbmcuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSw4REFBWTtBQU9aO0VBQ0UsZ0RBQWdEO0VBQ2hELDBCQUEwQixFQUZ6Qjs7QUFLSDtFQUNFLDRCQUE0QixFQUR4Qjs7QUFJTjtFQUNFLDREQUErQztFQUMvQyx1QkFBdUI7RUFDdkIsY0FqQmlCLEVBY1o7RUFJSjtJQUNDLGlCQWhCaUI7SUFpQmpCLFlBQVk7SUFDWixtQkFBbUI7SUFDbkIsT0FBTztJQUNQLFNBQVM7SUFDVCxVQUFVO0lBQ1YsY0F6QmU7SUEwQmYsUUFBUTtJQUNSLFlBQVk7SUFHWixZQUFZLEVBWko7RUFjVjtJQUNFLGNBQWM7SUFDZCxtQkFBbUI7SUFDbkIsU0FBUztJQUNULG9DQUFxQjtRQUFyQixnQ0FBcUI7WUFBckIsNEJBQXFCLEVBSmY7RUFNUjtJQUNFLFlBQVk7SUFDWixnQkFBZ0I7SUFDaEIsbUJBQW1CO0lBQ25CLHlCQUF5QjtJQUN6QixpQkFBaUI7SUFDakIsbUJBQW1CO0lBQ25CLDBCQUEwQixFQVB4QjtFQVNKO0lBQ0UsWUFBWTtJQUNaLG9CQUFvQjtJQUNwQixpQkFBaUI7SUFDakIsa0JBQWtCO0lBQ2xCLG1CQUFtQjtJQUNuQixvQkFBb0I7SUFDcEIsMEJBQTBCLEVBUHpCO0VBU0g7SUFDRTtNQUNFLG9CQUFvQjtNQUNwQixrQkFBa0I7TUFDbEIsa0JBQWtCLEVBSGhCO0lBS0o7TUFDRSxrQkFBa0I7TUFDbEIsa0JBQWtCLEVBRmpCLEVBQUE7O0FBT1A7RUFDRSxjQUFjO0VBQ2QsZ0JBQWdCO0VBQ2hCLFlBQVksRUFIQTtFQUtaO0lBQ0UsZ0JBQWdCLEVBRGY7RUFJSDtJQVRGO01BVUksY0FBYyxFQVZKLEVBQUE7RUFhWjtJQUNFLHFCQUFxQjtJQUNyQixnQkFBZ0IsRUFGZiIsImZpbGUiOiJ3ZWRkaW5nLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgdXJsKGh0dHA6Ly9mb250cy5nb29nbGVhcGlzLmNvbS9jc3M/ZmFtaWx5PU9wZW4rU2Fucyk7XG4kaGVyby1pbWFnZTogdXJsKFwiL2ltYWdlcy90ZXN0LmpwZ1wiKTtcbiRoZXJvLWhlaWdodDogMTAwdmg7XG4kd2hpdGU6ICNmZmY7XG4kYmxhY2s6ICMwMDA7XG4kbmF2LWJhci1oZWlnaHQ6IDUwcHg7XG5cbioge1xuICBmb250LWZhbWlseTogJ09wZW4gU2FucycsIHNhbnMtc2VyaWYgIWltcG9ydGFudDtcbiAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTtcbn1cblxuYm9keSB7XG4gIG1pbi13aWR0aDogNjQwcHggIWltcG9ydGFudDtcbn1cblxuLmhlcm8ge1xuICBiYWNrZ3JvdW5kOiAkaGVyby1pbWFnZSBuby1yZXBlYXQgY2VudGVyIGNlbnRlcjtcbiAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcbiAgaGVpZ2h0OiAkaGVyby1oZWlnaHQ7XG4gICY6YmVmb3JlIHtcbiAgICBtYXJnaW4tdG9wOiAkbmF2LWJhci1oZWlnaHQ7XG4gICAgY29udGVudDogJyc7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIHRvcDogMDtcbiAgICByaWdodDogMDtcbiAgICBib3R0b206IDA7XG4gICAgaGVpZ2h0OiAkaGVyby1oZWlnaHQ7XG4gICAgbGVmdDogMDtcbiAgICB6LWluZGV4OiAtMTtcbiAgICAvL2JhY2tncm91bmQtY29sb3I6IHJnYmEoMTI4LCA5MSwgODQsIDAuNDk4MDM5KTtcbiAgICAvL2JhY2tncm91bmQtaW1hZ2U6IGxpbmVhci1ncmFkaWVudCh0byBib3R0b20gcmlnaHQsIzAwMmY0YiwjZGM0MjI1KTtcbiAgICBvcGFjaXR5OiAuMztcbiAgfVxuICAuaW50cm8ge1xuICAgIHBhZGRpbmc6IDNyZW07XG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAgIHRvcDogNTAlO1xuICAgIHRyYW5zZm9ybTogdHJhbnNsYXRlWSgtNTAlKTtcbiAgfVxuICBoMSB7XG4gICAgY29sb3I6ICNmZmY7XG4gICAgZm9udC1zaXplOiAzcmVtO1xuICAgIGxpbmUtaGVpZ2h0OiAxLjVlbTtcbiAgICBsZXR0ZXItc3BhY2luZzogLTAuMDI1ZW07XG4gICAgZm9udC13ZWlnaHQ6IDMwMDtcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTtcbiAgfVxuICBwIHtcbiAgICBjb2xvcjogI2ZmZjtcbiAgICBsaW5lLWhlaWdodDogMS43NWVtO1xuICAgIGZvbnQtd2VpZ2h0OiAyMDA7XG4gICAgZm9udC1zaXplOiAxLjVyZW07XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgIG1hcmdpbi1ib3R0b206IDJyZW07XG4gICAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTtcbiAgfVxuICBAbWVkaWEgb25seSBzY3JlZW4gYW5kIChtaW4td2lkdGg6IDQwLjA2M2VtKSB7XG4gICAgaDEge1xuICAgICAgcGFkZGluZy10b3A6IDQuNXJlbTtcbiAgICAgIHRleHQtYWxpZ246IHJpZ2h0O1xuICAgICAgZm9udC1zaXplOiA1LjVyZW07XG4gICAgfVxuICAgIHAge1xuICAgICAgZm9udC1zaXplOiAyLjVyZW07XG4gICAgICB0ZXh0LWFsaWduOiByaWdodDtcbiAgICB9XG4gIH1cbn1cblxuLmluZm9zdGl0aWFsIHtcbiAgd2lkdGg6IDY2LjY2JTtcbiAgcGFkZGluZzogNDVweCAwO1xuICBmbG9hdDogbm9uZTtcblxuICBwIHtcbiAgICBmb250LXNpemU6IDIwcHg7XG4gIH1cblxuICBAbWVkaWEgb25seSBzY3JlZW4gYW5kIChtYXgtd2lkdGg6IDQwLjA2M2VtKSB7XG4gICAgd2lkdGg6IDk5Ljk5JTtcbiAgfVxuXG4gIGEge1xuICAgIHRleHQtdHJhbnNmb3JtOiBub25lO1xuICAgIGZvbnQtc2l6ZTogMThweDtcbiAgfVxufSJdLCJzb3VyY2VSb290IjoiL3NvdXJjZS8ifQ== */
