@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.ios .parallax-bg,
.mobile .parallax-bg {
  background-attachment: scroll; }

.ios .parallax-bg {
  height: 600px; }

.parallax-bg {
  color: #fff;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.mobile .parallax-bg {
  height: 500px; }

.parallax-bg h1 {
  letter-spacing: 4px;
  font-size: 5em;
  font-weight: normal; }

@media (max-width: 768px) {
  .parallax-bg h1 {
    font-size: 3.2em; }
  #hero {
    background-image: url("/images/hero/mobile/hero.jpg"); }
  #proposal {
    background-image: url("/images/hero/mobile/hero-2.jpg"); }
  #yes {
    background-image: url("/images/hero/mobile/hero-3.jpg"); }
  #happy {
    background-image: url("/images/hero/mobile/hero-4.jpg"); } }

@media (min-width: 769px) {
  #hero {
    background-image: url("/images/hero/full/hero.jpg");
    background-position: center top; }
  #proposal {
    background-image: url("/images/hero/full/hero-2.jpg"); }
  #yes {
    background-image: url("/images/hero/full/hero-3.jpg"); }
  #happy {
    background-image: url("/images/hero/full/hero-4.jpg"); } }

.hero {
  height: 100vh; }
  .hero h1 {
    font-size: 3.2rem;
    line-height: 1.6em;
    font-weight: 300;
    text-align: center; }
  .hero p {
    line-height: 1.75em;
    font-weight: 200;
    font-size: 2rem;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 2rem; }
  .hero .text-shadow {
    background: rgba(0, 0, 0, 0.2);
    padding: 10px; }
  @media only screen and (min-width: 992px) {
    .hero h1 {
      font-size: 5.5rem !important; }
    .hero p {
      font-size: 3rem !important;
      margin-top: 8px; } }
  @media only screen and (max-width: 768px) {
    .hero .text-shadow {
      background: none; }
    .hero p {
      margin-top: 0; } }

/* padded section */
.pad-section {
  padding: 50px 0; }

.pad-section img {
  width: 100%; }

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

.text-vcenter h1 {
  font-weight: 700;
  margin: 0;
  padding: 0; }

#hero h1 {
  font-size: 3.2em; }

.info-row {
  padding-right: 15px;
  padding-left: 15px; }

.infostitial {
  width: 66.66%;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 20px 0;
  float: none;
  border: 3px solid;
  border-color: #a73b73 #A73B73 #c0548c; }
  .infostitial h2 {
    color: #A73B73; }
  .infostitial p {
    font-size: 20px; }
  .infostitial a {
    font-size: 18px; }
  .infostitial .copyx {
    display: none !important; }
  @media only screen and (max-width: 40.063em) {
    .infostitial {
      width: 99.99%; } }

.backtotop .snack-bar {
  display: inline-block;
  border-radius: 16px;
  height: 40px;
  width: 150px;
  border: 2px solid rgba(167, 59, 115, 0.6);
  font-size: 15px; }

.backtotop a {
  padding-top: 7px;
  color: #000; }

.backtotop a:hover, .backtotop a:active, .backtotop a:focus, .backtotop a:visited {
  text-decoration: none; }

@media only screen and (max-width: 992px) {
  #hero h1 {
    font-size: 2.2em !important; } }

.text-section {
  border: none;
  padding: 130px 15px; }
  .text-section h2 {
    margin-top: 0;
    color: #000;
    font-size: 54px; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIndlZGRpbmcuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSwrREFBWTtBQW9CSjs7RUFDTiw4QkFBOEIsRUFEVjs7QUFJakI7RUFDSCxjQXJCcUIsRUFvQko7O0FBSW5CO0VBQ0UsWUFBWTtFQUNaLGVBQWU7RUFDZixjQUFjO0VBQ2QsbUJBQW1CO0VBQ25CLFlBQVk7RUFDWiw2QkFBNkI7RUFDN0IsbUNBQW1DO0VBQ25DLDZCQUE2QjtFQUM3Qix1QkFBdUI7RUFDdkIsK0JBQStCO0VBQy9CLDRCQUE0QjtFQUM1QiwwQkFBMEIsRUFaZDs7QUFlTjtFQUNOLGNBdkN3QixFQXNDSjs7QUFJVDtFQUNYLG9CQUFvQjtFQUNwQixlQWxDNEI7RUFtQzVCLG9CQUFvQixFQUhMOztBQU1qQjtFQUNlO0lBQ1gsaUJBdkNtQyxFQXNDcEI7RUFJZjtJQUNBLHNEQUFxQixFQURkO0VBSVQ7SUFDRSx3REFBcUIsRUFEWjtFQUlYO0lBQ0Usd0RBQXFCLEVBRGpCO0VBSU47SUFDRSx3REFBcUIsRUFEZixFQUFBOztBQUtWO0VBQ0U7SUFDRSxvREFBcUI7SUFDckIsZ0NBQ0QsRUFITTtFQUtQO0lBQ0Usc0RBQXFCLEVBRFo7RUFJWDtJQUNFLHNEQUFxQixFQURqQjtFQUlOO0lBQ0Usc0RBQXFCLEVBRGYsRUFBQTs7QUFLVjtFQUNFLGNBQWMsRUFEVDtFQUdMO0lBQ0Usa0JBcEZpQjtJQXFGakIsbUJBQW1CO0lBQ25CLGlCQUFpQjtJQUNqQixtQkFBbUIsRUFKakI7RUFPSjtJQUNFLG9CQUFvQjtJQUNwQixpQkFBaUI7SUFDakIsZ0JBMUZtQjtJQTJGbkIsbUJBQW1CO0lBQ25CLGlCQUFpQjtJQUNqQixvQkFBb0IsRUFObkI7RUFTSDtJQUNFLCtCQUFnQjtJQUNoQixjQUFjLEVBRkY7RUFLZDtJQUNFO01BQ0UsNkJBQTZCLEVBRDNCO0lBR0o7TUFDRSwyQkFBMkI7TUFDM0IsZ0JBQWdCLEVBRmYsRUFBQTtFQU1MO0lBQ0U7TUFDRSxpQkFBaUIsRUFETDtJQUdkO01BQ0UsY0FBYyxFQURiLEVBQUE7O0FBTVAsb0JBQW9CO0FBQ3BCO0VBQ0UsZ0JBQWdCLEVBREo7O0FBSUQ7RUFDWCxZQUFZLEVBREk7O0FBSWxCLDRCQUE0QjtBQUM1QjtFQUNFLG9CQUFvQjtFQUNwQixtQkFBbUI7RUFDbkIsdUJBQXVCLEVBSFY7O0FBTUQ7RUFDWixpQkFBaUI7RUFDakIsVUFBVTtFQUNWLFdBQVcsRUFISzs7QUFNWjtFQUNKLGlCQUFpQixFQURUOztBQUlWO0VBQ0Usb0JBQW9CO0VBQ3BCLG1CQUFtQixFQUZWOztBQUtYO0VBQ0UsY0FBYztFQUNkLGlCQUFpQjtFQUNqQixvQkFBb0I7RUFDcEIsZ0JBQWdCO0VBQ2hCLFlBQVk7RUFDWixrQkFBa0I7RUFDbEIsc0NBQXFDLEVBUHpCO0VBU1o7SUFDRSxlQTNLa0IsRUEwS2hCO0VBSUo7SUFDRSxnQkFBZ0IsRUFEZjtFQUlIO0lBQ0UsZ0JBQWdCLEVBRGY7RUFJSDtJQUNFLHlCQUF5QixFQURuQjtFQUlSO0lBekJGO01BMEJJLGNBQWMsRUExQkosRUFBQTs7QUErQlo7RUFDRSxzQkFBc0I7RUFDdEIsb0JBQW9CO0VBQ3BCLGFBQVk7RUFDWixhQUFhO0VBQ2IsMENBcE1pQjtFQXFNakIsZ0JBQWdCLEVBTk47O0FBU1o7RUFDRSxpQkFBaUI7RUFDakIsWUFBWSxFQUZYOztBQUswQjtFQUMzQixzQkFBc0IsRUFEZTs7QUFNekM7RUFDUTtJQUNKLDRCQUE0QixFQURwQixFQUFBOztBQUtaO0VBQ0UsYUFBYTtFQUNiLG9CQUFtQixFQUZOO0VBSWI7SUFDRSxjQUFjO0lBQ2QsWUFBWTtJQUNaLGdCQTlOZSxFQTJOYiIsImZpbGUiOiJ3ZWRkaW5nLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgdXJsKGh0dHBzOi8vZm9udHMuZ29vZ2xlYXBpcy5jb20vY3NzP2ZhbWlseT1PcGVuK1NhbnMpO1xuXG4vL0hlcm8gSW1hZ2VzXG4kaGVyby1oZWlnaHQ6IDgwMHB4O1xuJGlvcy1oZXJvLWhlaWdodDogNjAwcHg7XG4kbW9iaWxlLWhlcm8taGVpZ2h0OiA1MDBweDtcbi8vQ29sb3Vyc1xuJHB1cnBsZTogcmdiYSgxNjcsIDU5LCAxMTUsIDEpO1xuJGxpZ2h0LXB1cnBsZTogI0E3M0I3MztcbiRsaWdodGVyLXB1cnBsZTogcmdiYSgxNjcsIDU5LCAxMTUsIDAuNik7XG4vL0ZvbnQgU2l6ZXNcbiRoMi1mb250LXNpemU6IDU0cHg7XG4kaDMtZm9udC1zaXplOiAyOHB4O1xuJGg0LWZvbnQtc2l6ZTogMjJweDtcbiRoMS1mb250LXNpemU6IDMuMnJlbTtcbiRwYXJhbGxheC1iZy1oMS1mb250LXNpemU6IDVlbTtcbiRwYXJhbGxheC1iZy1tb2JpbGUtaDEtZm9udC1zaXplOiAzLjJlbTtcbiRoZXJvLXAtZm9udC1zaXplOiAycmVtO1xuXG4uaW9zIC5wYXJhbGxheC1iZyxcbi5tb2JpbGUgLnBhcmFsbGF4LWJnIHtcbiAgYmFja2dyb3VuZC1hdHRhY2htZW50OiBzY3JvbGw7XG59XG5cbi5pb3MgLnBhcmFsbGF4LWJnIHtcbiAgaGVpZ2h0OiAkaW9zLWhlcm8taGVpZ2h0O1xufVxuXG4ucGFyYWxsYXgtYmcge1xuICBjb2xvcjogI2ZmZjtcbiAgZGlzcGxheTogdGFibGU7XG4gIGhlaWdodDogODAwcHg7XG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgd2lkdGg6IDEwMCU7XG4gIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gIGJhY2tncm91bmQtcG9zaXRpb246IGNlbnRlciBjZW50ZXI7XG4gIGJhY2tncm91bmQtYXR0YWNobWVudDogZml4ZWQ7XG4gIGJhY2tncm91bmQtc2l6ZTogY292ZXI7XG4gIC13ZWJraXQtYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcbiAgLW1vei1iYWNrZ3JvdW5kLXNpemU6IGNvdmVyO1xuICAtby1iYWNrZ3JvdW5kLXNpemU6IGNvdmVyO1xufVxuXG4ubW9iaWxlIC5wYXJhbGxheC1iZyB7XG4gIGhlaWdodDogJG1vYmlsZS1oZXJvLWhlaWdodDtcbn1cblxuLnBhcmFsbGF4LWJnIGgxIHtcbiAgbGV0dGVyLXNwYWNpbmc6IDRweDtcbiAgZm9udC1zaXplOiAkcGFyYWxsYXgtYmctaDEtZm9udC1zaXplO1xuICBmb250LXdlaWdodDogbm9ybWFsO1xufVxuXG5AbWVkaWEgKG1heC13aWR0aDogNzY4cHgpIHtcbiAgLnBhcmFsbGF4LWJnIGgxIHtcbiAgICBmb250LXNpemU6ICRwYXJhbGxheC1iZy1tb2JpbGUtaDEtZm9udC1zaXplO1xuICB9XG5cbiAgICAjaGVybyB7XG4gICAgYmFja2dyb3VuZC1pbWFnZTogdXJsKFwiL2ltYWdlcy9oZXJvL21vYmlsZS9oZXJvLmpwZ1wiKTtcbiAgfVxuXG4gICNwcm9wb3NhbCB7XG4gICAgYmFja2dyb3VuZC1pbWFnZTogdXJsKFwiL2ltYWdlcy9oZXJvL21vYmlsZS9oZXJvLTIuanBnXCIpO1xuICB9XG5cbiAgI3llcyB7XG4gICAgYmFja2dyb3VuZC1pbWFnZTogdXJsKFwiL2ltYWdlcy9oZXJvL21vYmlsZS9oZXJvLTMuanBnXCIpO1xuICB9XG5cbiAgI2hhcHB5IHtcbiAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCIvaW1hZ2VzL2hlcm8vbW9iaWxlL2hlcm8tNC5qcGdcIik7XG4gIH1cbn1cblxuQG1lZGlhIChtaW4td2lkdGg6IDc2OXB4KSB7XG4gICNoZXJvIHtcbiAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCIvaW1hZ2VzL2hlcm8vZnVsbC9oZXJvLmpwZ1wiKTtcbiAgICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiBjZW50ZXIgdG9wXG4gIH1cblxuICAjcHJvcG9zYWwge1xuICAgIGJhY2tncm91bmQtaW1hZ2U6IHVybChcIi9pbWFnZXMvaGVyby9mdWxsL2hlcm8tMi5qcGdcIik7XG4gIH1cblxuICAjeWVzIHtcbiAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCIvaW1hZ2VzL2hlcm8vZnVsbC9oZXJvLTMuanBnXCIpO1xuICB9XG5cbiAgI2hhcHB5IHtcbiAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCIvaW1hZ2VzL2hlcm8vZnVsbC9oZXJvLTQuanBnXCIpO1xuICB9XG59XG5cbi5oZXJvIHtcbiAgaGVpZ2h0OiAxMDB2aDtcblxuICBoMSB7XG4gICAgZm9udC1zaXplOiAkaDEtZm9udC1zaXplO1xuICAgIGxpbmUtaGVpZ2h0OiAxLjZlbTtcbiAgICBmb250LXdlaWdodDogMzAwO1xuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgfVxuXG4gIHAge1xuICAgIGxpbmUtaGVpZ2h0OiAxLjc1ZW07XG4gICAgZm9udC13ZWlnaHQ6IDIwMDtcbiAgICBmb250LXNpemU6ICRoZXJvLXAtZm9udC1zaXplO1xuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgICBtYXJnaW4tdG9wOiAxM3B4O1xuICAgIG1hcmdpbi1ib3R0b206IDJyZW07XG4gIH1cblxuICAudGV4dC1zaGFkb3cge1xuICAgIGJhY2tncm91bmQ6IHJnYmEoMCwgMCwgMCwgMC4yKTtcbiAgICBwYWRkaW5nOiAxMHB4O1xuICB9XG5cbiAgQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWluLXdpZHRoOiA5OTJweCkge1xuICAgIGgxIHtcbiAgICAgIGZvbnQtc2l6ZTogNS41cmVtICFpbXBvcnRhbnQ7XG4gICAgfVxuICAgIHAge1xuICAgICAgZm9udC1zaXplOiAzcmVtICFpbXBvcnRhbnQ7XG4gICAgICBtYXJnaW4tdG9wOiA4cHg7XG4gICAgfVxuICB9XG5cbiAgQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWF4LXdpZHRoOiA3NjhweCkge1xuICAgIC50ZXh0LXNoYWRvdyB7XG4gICAgICBiYWNrZ3JvdW5kOiBub25lO1xuICAgIH1cbiAgICBwIHtcbiAgICAgIG1hcmdpbi10b3A6IDA7XG4gICAgfVxuICB9XG59XG5cbi8qIHBhZGRlZCBzZWN0aW9uICovXG4ucGFkLXNlY3Rpb24ge1xuICBwYWRkaW5nOiA1MHB4IDA7XG59XG5cbi5wYWQtc2VjdGlvbiBpbWcge1xuICB3aWR0aDogMTAwJTtcbn1cblxuLyogdmVydGljYWwtY2VudGVyZWQgdGV4dCAqL1xuLnRleHQtdmNlbnRlciB7XG4gIGRpc3BsYXk6IHRhYmxlLWNlbGw7XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgdmVydGljYWwtYWxpZ246IG1pZGRsZTtcbn1cblxuLnRleHQtdmNlbnRlciBoMSB7XG4gIGZvbnQtd2VpZ2h0OiA3MDA7XG4gIG1hcmdpbjogMDtcbiAgcGFkZGluZzogMDtcbn1cblxuI2hlcm8gaDEge1xuICBmb250LXNpemU6IDMuMmVtO1xufVxuXG4uaW5mby1yb3cge1xuICBwYWRkaW5nLXJpZ2h0OiAxNXB4O1xuICBwYWRkaW5nLWxlZnQ6IDE1cHg7XG59XG5cbi5pbmZvc3RpdGlhbCB7XG4gIHdpZHRoOiA2Ni42NiU7XG4gIG1hcmdpbi10b3A6IDcwcHg7XG4gIG1hcmdpbi1ib3R0b206IDcwcHg7XG4gIHBhZGRpbmc6IDIwcHggMDtcbiAgZmxvYXQ6IG5vbmU7XG4gIGJvcmRlcjogM3B4IHNvbGlkO1xuICBib3JkZXItY29sb3I6ICRwdXJwbGUgI0E3M0I3MyAjYzA1NDhjO1xuXG4gIGgyIHtcbiAgICBjb2xvcjogJGxpZ2h0LXB1cnBsZTtcbiAgfVxuXG4gIHAge1xuICAgIGZvbnQtc2l6ZTogMjBweDtcbiAgfVxuXG4gIGEge1xuICAgIGZvbnQtc2l6ZTogMThweDtcbiAgfVxuXG4gIC5jb3B5eCB7XG4gICAgZGlzcGxheTogbm9uZSAhaW1wb3J0YW50O1xuICB9XG5cbiAgQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWF4LXdpZHRoOiA0MC4wNjNlbSkge1xuICAgIHdpZHRoOiA5OS45OSU7XG4gIH1cbn1cblxuLmJhY2t0b3RvcCB7XG4gIC5zbmFjay1iYXIge1xuICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgICBib3JkZXItcmFkaXVzOiAxNnB4O1xuICAgIGhlaWdodDo0MHB4O1xuICAgIHdpZHRoOiAxNTBweDtcbiAgICBib3JkZXI6IDJweCBzb2xpZCAkbGlnaHRlci1wdXJwbGU7XG4gICAgZm9udC1zaXplOiAxNXB4O1xuICB9XG5cbiAgYSB7XG4gICAgcGFkZGluZy10b3A6IDdweDtcbiAgICBjb2xvcjogIzAwMDtcbiAgfVxuXG4gIGE6aG92ZXIsIGE6YWN0aXZlLCBhOmZvY3VzLCBhOnZpc2l0ZWQge1xuICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbiAgfVxuXG59XG5cbkBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1heC13aWR0aDogOTkycHgpIHtcbiAgI2hlcm8gaDEge1xuICAgIGZvbnQtc2l6ZTogMi4yZW0gIWltcG9ydGFudDtcbiAgfVxufVxuXG4udGV4dC1zZWN0aW9uIHtcbiAgYm9yZGVyOiBub25lO1xuICBwYWRkaW5nOiAxMzBweCAxNXB4O1xuXG4gIGgyIHtcbiAgICBtYXJnaW4tdG9wOiAwO1xuICAgIGNvbG9yOiAjMDAwO1xuICAgIGZvbnQtc2l6ZTogJGgyLWZvbnQtc2l6ZTtcbiAgfVxufSJdLCJzb3VyY2VSb290IjoiL3NvdXJjZS8ifQ== */
