$footer-colour: #878787;
$light-green: #adefd6;
$light-green2: #94D6BD;
$light-green3: #7ABCA3;
$light-green4: #61A38A;
$light-green5: #478970;
$light-green7: #2E7057;

.footer-basic-centered {
  color: #fff;
  //color: #000;
  background-color: $footer-colour;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  padding: 25px 0;
  margin-top: 55px;
}

.footer-basic-centered p {
  margin: 0;
}

.footer-company-motto {
  font-size: 17px;
}

.footer-basic-centered .footer-links {
  list-style: none;
  font-weight: bold;
  padding: 8px 0;
}

.footer-basic-centered .footer-links a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 600px) {

  .footer-basic-centered {
    font-size: 14px;
  }

  .footer-basic-centered .footer-links {
    font-size: 12px;
    padding: 5px 2px;
  }

  .footer-basic-centered .footer-links a {
    line-height: 1.8;
  }
}