$footer-colour: #f5f5f5;

.footer-basic-centered {
  color: #fff;;
  background-color: #878787;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  padding: 25px 0;
  margin-top: 55px;
}

.footer-basic-centered p {
  margin: 0;
}

.footer-company-motto {
  text-transform: none;
  font-size: 17px;
}

.footer-basic-centered .footer-links {
  list-style: none;
  font-weight: bold;
  padding: 8px 0;
}

.footer-basic-centered .footer-links a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 600px) {

  .footer-basic-centered {
    font-size: 14px;
  }

  .footer-basic-centered .footer-links {
    font-size: 12px;
    padding: 5px 2px;
  }

  .footer-basic-centered .footer-links a {
    line-height: 1.8;
  }
}