#map {
  height: 80vh;
  margin-bottom: 20px;
}

.ios #map {
  height: 600px;
}

.address {
  margin: 0;
}

.maps-link {
  margin: 4px 0 7px 0;

  a {
    font-weight: bold;
    font-size: 15px;
  }
}