#map {
  height: 80vh;
}

.ios #map {
  height: 600px;
}

.map-section {
  margin-bottom: 10px;

  h4 {
    margin-bottom: 0;
    margin-top: 10px;
  }
}

.directions {
  .first-p {
    margin-top: 10px;
  }
}

.above-map-link {
  margin: 4px 0 7px 0;
}

.map-link {
  font-weight: bold;
  font-size: 15px;
}

.address {
  margin: 0;
}

.stations {
  padding-bottom: 5px;
}

.station-list {
  list-style: none;
  padding-left: 10px;
}

.icon {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  background: no-repeat;
}

.icon-first {
  margin-right: 5px;
}

.icon-last {
  margin-right: 6px;
}

.station {
  background-image: url("/images/icons/station.png");
}

.tube {
  background-image: url("/images/icons/tube.png");
}