$white: #fff;
$black: #000;
$default: #c4c4c4;

.navbar {
  margin-bottom: 0;

  .navbar-brand {
    font-size: 20px;
    color: $black;
    letter-spacing: 2px;
    padding: 8px 6px 15px 4px;
    padding-left: 15px !important;
  }

  .navbar-icon {
    display: inline-block;
    display: -moz-inline-stack;
    height: auto;
    width: 45px;
    padding-bottom: 5px;
  }

  .nav-icons {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    .navbar-icon {
      width: 35px;
      padding-top: 8px;
    }

    .navbar-brand .navbar-icon {
      display: none;
    }

    .nav-icons {
      display: block;
    }

    .nav-icons .navbar-icon {
      padding-top: 0;
      margin-left: 10px;
    }
  }

  .navbar-nav a {
    font-size: 16px;
  }

  .nav a {
    color: $default;
    letter-spacing: 1px;
  }

  .nav a:hover {
    background: none !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    color: #dedede !important;
  }

  .icon-bar {
    background: $black;
  }

  .container {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.home-page .nav-welcome a,
.map-page .nav-map a,
.rsvp .nav-rsvp a,
.tea-ceremony .nav-tea a {
  color: $black;
}

