$white: #fff;
$black: #000;
$default: #c4c4c4;

.navbar {
  margin-bottom: 0;

  .navbar-brand {
    font-size: 20px;
    color: $black;
    letter-spacing: 2px;
  }

  .navbar-nav a {
    font-size: 16px;
  }

  .nav a {
    color: $default;
    letter-spacing: 1px;
  }

  .nav a:hover {
    background: none !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    color: #dedede !important;
  }

  .icon-bar {
    background: $black;
  }

  .container {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.home-page .nav-welcome a,
.map-page .nav-map a,
.contact-us .nav-contact-us a {
  color: $black;
}

