$light-green: #adefd6;
$light-green2: #94D6BD;
$light-green3: #7ABCA3;
$light-green4: #61A38A;
$light-green5: #478970;

@media (min-width: 1200px) {
  .form-container {
    width: 800px;
  }
}

@media (min-width: 992px) {
  .form-container {
    width: 700px;
  }
}

.form {
  margin-top: 20px;
}

.form-control:focus {
  border-color: $light-green4;
  box-shadow: inset 0 1px 1px $light-green2, 0 0 8px $light-green3;
}

.radio,
.control-label {
  color: #000 !important;
}

.rsvp-form-group.has-error {
  color: #a94442;
}

.send {
  margin-top: 10px;
  width: 210px;
  height: 50px;
  font-size: 16px;
}

.email-sent {
  display: none;
}

.hello-kitty {
  margin-top: 10px;
  width: 500px;
}

.display-block {
  display: block !important;
}

.display-none {
  display: none !important;
}

.display-inline-block {
  display: inline-block;
}

.em-disappointed {
  margin-bottom: 1px;
}

$results-loading-duration: 2s;

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fff;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.5;
  font-size: 40px;

  &.overlay-show {
    display: block;
    z-index: 1;
  }

  .overlay-text {
    position: absolute;
    top: 40%;
    width: 200px;
    margin-left: -100px;
  }
}
