$scroll-spy-colour-light: #fff;
$scroll-spy-colour-dark: #000;

.scrollspy-menu {
  position: fixed;
  z-index: 52;
  top: 47%;
  right: 15px;
  list-style: none;
  text-align: right;

  li {
    line-height: 21px;
    margin-bottom: 7px;
  }

  .circle {
    display: inline-block;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    border: 2px solid;
  }

  a .text {
    display: none;
    text-transform: uppercase;
    padding-right: 5px;
    font-size: 15px;
    letter-spacing: 1px;
  }

  a:hover .circle,
  li.active .circle {
    background: transparent;
  }

  a:hover {
    text-decoration: none;

    .text {
      display: inline;
      text-decoration: none;
    }
  }

  @media only screen and (max-width: 992px) {
    display: none;
  }
}

.scrollspy-menu,
.proposal-active {
  .circle {
    background: $scroll-spy-colour-light;
    border-color: $scroll-spy-colour-light;
  }

  a .text {
    color: $scroll-spy-colour-light;
  }
}

.our-story-active,
.venue-details-active,
.gallery-section-active {
  .circle {
    background: $scroll-spy-colour-dark;
    border-color: $scroll-spy-colour-dark;
  }

  a .text {
    color: $scroll-spy-colour-dark;
  }
}

