$font-stack:    14px "Lucida Grande", Helvetica, Arial, sans-serif;
$primary-color: #333;
$body-padding: 50px;
$h1-color: purple;
$one-hundred-pc: 100%;
$bg-centred: no-repeat center center;
$tonybg:  url("/images/tony1.jpg");
$header-font-size: 36px;

.parallax-background {
  background-color: #0078A0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  width: 100%;
}

.hero {
  background: $bg-centred;
  background-image: $tonybg;
  background-size: cover;
  height: 80vh;
  margin-bottom: 3rem;
}

.parallax-content {
  max-width: 100%;
  position: relative;
  top: 500px;
  padding: 50px;
  font-size: 20px;
  background-color: #fff;
}


@media only screen and (max-width: 480px) {
  .parallax-content{
    top: 410px;
  }
}

.header {
  font-size: $header-font-size;
  font-weight: bold;
}


/*http://zurb.com/building-blocks/hero-overlapping-grid*/
.circle-bg, .quote {
  margin: 10% auto 0 auto;
}

.circle-bg, .quote {
  text-align: center;
  opacity: 0.9;
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
}

@media only screen and (min-width: 64.063em) {
  .circle-bg, .quote {
/*    height: 13rem;
    width: 13rem;*/
  }
}

.circle-bg p, .quote p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.quote {
  background: #333;
  color: #fff;
  z-index: 9999999;
  position: relative;
}

@media only screen and (min-width: 64.063em) {
  .quote {
  }
}