#tea-container {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 1200px) {
  #tea-container {
    width: 1000px;
  }
}

.tea-header {
  margin-top: 15px;
  margin-bottom: 35px;
}

.tea-wrapper {
  padding-right: 0;
  padding-left: 0;
}
