$fiftyPercent: 50%;
$zoomscale: scale(1.3, 1.3);

.thumbnail-link {
  position: relative;
  overflow: hidden;
  margin-bottom: 25px !important;
  display: block;
}

.thumbnail-hover {
  -webkit-transform:$zoomscale;
  -moz-transform:$zoomscale;
  -o-transform:$zoomscale;
  -ms-transform:$zoomscale;
  transform:$zoomscale;
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.thumbnail-link:hover {
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
  filter: alpha(opacity=80);
}