$fiftyPercent: 50%;
$centreTransform: translate(-50%,-50%);

.thumbnail-gallery {

  a {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
  }

  img {
    position: absolute;
    left: $fiftyPercent;
    top: $fiftyPercent;
    -webkit-transform: $centreTransform;
    -ms-transform: $centreTransform;
    transform: $centreTransform;
  }

  img.landscape {
    height: 100%;
    width: auto;
  }

  img.portrait {
    width: 100%;
    height: auto;
  }

}