$fiftyPercent: 50%;
$zoomscale: scale(1.3, 1.3);
$light-purple: #A73B73;

.gallery-section {
  padding-top: 65px;
  padding-bottom: 50px;

  h2 {
    color: $light-purple;
  }

  .gallery-text {
    margin-bottom: 25px;
  }
}

.thumbnail-link {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px !important;
  display: block;
}

/*//Mkaes thumbnails smaller
.thumbnail-gallery {
  margin-right: 50px;
  margin-left: 50px;
}*/

@media (min-width: 1200px) {
  .gallery-section {
    width: 975px;
  }
}

/*
@media (min-width: 769px) and (max-width: 992px) {
  .thumbnail-gallery {
    margin-right: 500px;
    margin-left: 400px;
  }
}
*/

.desktop .thumbnail-hover {
  -webkit-transform:$zoomscale;
  -moz-transform:$zoomscale;
  -o-transform:$zoomscale;
  -ms-transform:$zoomscale;
  transform:$zoomscale;
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.desktop .thumbnail-link:hover {
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
