$fiftyPercent: 50%;
$centreTransform: translate(-50%,-50%);

.gallery-container {
  //text-align: center;
  //background: deeppink;
  //width: 1000px;
  //margin-left: auto;
  //margin-right: auto;
  //margin-right: 0; his made it work
}

.thumbnail-gallery {

  a {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 0 20px 20px 0;
  }

  img {
    position: absolute;
    left: $fiftyPercent;
    top: $fiftyPercent;
    height: 100%;
    width: auto;
    -webkit-transform: $centreTransform;
    -ms-transform: $centreTransform;
    transform: $centreTransform;
  }

  img.portrait {
    width: 100%;
    height: auto;
  }

}