$fiftyPercent: 50%;
$zoomscale: scale(1.3, 1.3);
$light-purple: #A73B73;
$light-green: #adefd6;
$light-green2: #ff6666;

.gallery-section {
  padding-top: 65px;
  padding-bottom: 50px;

  .gallery-text {
    margin-bottom: 35px;
  }
}

.thumbnail-wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px !important;
  display: block;
}

@media (min-width: 1200px) {
  .gallery-section {
    width: 975px;
  }
}

.desktop .thumbnail-hover {
  -webkit-transform:$zoomscale;
  -moz-transform:$zoomscale;
  -o-transform:$zoomscale;
  -ms-transform:$zoomscale;
  transform:$zoomscale;
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.desktop .thumbnail-wrapper:hover {
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
