$light-purple: #A73B73;
//Wedding theme - Light Green #adefd6
$h3-font-size: 28px;
$h4-font-size: 22px;

* {
  font-family: 'Open Sans', sans-serif !important;
}

.navbar-seperator {
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
strong {
  text-transform: uppercase;
}

h3, h4 {
  color: $light-purple;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

.desktop-visible {
  display: none;
}

.desktop .desktop-visible {
  display: block;
}

.desktop .desktop-hidden,
.tablet .tablet-hidden,
.mobile .mobile-hidden {
  display: none !important;
}

.transform-none {
  text-transform: none;
}
