//Hero Images
$hero-height: 800px;
$tablet-hero-height: 660px;
$mobile-hero-height: 500px;
//Colours
$light-red: #ff8080;
$light-red2: #ff6666; //Main Red/Green Colour
$light-red3: #ff4d4d;
$light-red4: #ff3333;
//Font Sizes
$h2-font-size: 54px;
$h3-font-size: 28px;
$h4-font-size: 22px;
$h1-font-size: 3.2rem;
$parallax-bg-h1-font-size: 5em;
$parallax-bg-mobile-h1-font-size: 3.2em;
$hero-p-font-size: 2rem;

.tablet .parallax-bg,
.mobile .parallax-bg {
  background-attachment: scroll;
}

.tablet .parallax-bg {
  height: $tablet-hero-height;
}

.parallax-bg {
  color: #fff;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.mobile .parallax-bg {
  height: $mobile-hero-height;
}

.peach-blossom {
  height: 120px;
  padding-bottom: 17px;
  padding-left: 10px;
  width: auto !important;
}

@media only screen and (max-width: 768px) {
  #our-story h2 {
    font-size: 42px;
  }

  .peach-blossom.first {
    padding-left: 0;
  }

  .peach-blossom.second {
    display: none !important;
  }

  .peach-blossom {
    height: 85px;
  }

}

#our-story {

  p {
    margin-bottom: 13px;
  }

  .yes {
    margin-top: 2px;
    margin-bottom: 15px;
  }

}

.parallax-bg h1 {
  letter-spacing: 4px;
  font-size: $parallax-bg-h1-font-size;
  font-weight: normal;
}

@media (max-width: 768px) {
  .parallax-bg h1 {
    font-size: $parallax-bg-mobile-h1-font-size;
  }

  #hero {
    background-image: url("/images/hero/mobile/hero.jpg");
  }

  #proposal {
    background-image: url("/images/hero/mobile/hero-2.jpg");
  }

  #yes {
    background-image: url("/images/hero/mobile/hero-3.jpg");
  }

  #happy {
    background-image: url("/images/hero/mobile/hero-4.jpg");
  }
}

@media (min-width: 769px) {
  #hero {
    background-image: url("/images/hero/full/hero.jpg");
    background-position: center top
  }

  #proposal {
    background-image: url("/images/hero/full/hero-2.jpg");
  }

  #yes {
    background-image: url("/images/hero/full/hero-3.jpg");
  }

  #happy {
    background-image: url("/images/hero/full/hero-4.jpg");
  }
}

.hero {
  height: 100vh;

  span {
    text-transform: none;
  }

  h1 {
    font-size: $h1-font-size;
    line-height: 1.6em;
    font-weight: 300;
    text-align: center;
  }

  p {
    line-height: 1.75em;
    font-weight: 200;
    font-size: $hero-p-font-size;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 2rem;
  }

  .text-shadow {
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
  }

  span {
    font-family: 'Great Vibes', Helvetica, sans-serif !important;
    letter-spacing: 5px;
  }


  @media only screen and (min-width: 992px) {

    h1 {
      font-size: 10rem !important;
    }
    p {
      font-size: 5.5rem !important;
      margin-top: 8.5px;
    }
  }

  @media only screen and (max-width: 768px) {

    .text-shadow {
      background: none;
    }
    p {
      margin-top: 0;
    }
  }
}

/* padded section */
.pad-section {
  padding: 50px 0;
}

.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.text-vcenter h1 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#hero h1 {
  font-size: 3.2em;
}

.info-row {
  padding-right: 15px;
  padding-left: 15px;
}

.infostitial {
  width: 66.66%;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 20px 0;
  float: none;
  border: 3px solid;
  border-color: $light-red2 $light-red3 $light-red2;

  h2 {
    color: $light-red2;
  }

  p {
    font-size: 20px;
  }

  a {
    font-size: 18px;
  }

  .copyx {
    display: none !important;
  }

  @media only screen and (max-width: 40.063em) {
    width: 99.99%;
  }
}

.backtotop {
  .snack-bar {
    display: inline-block;
    border-radius: 18px;
    height: 47px;
    width: 178px;
    color: $light-red3;
    border: 2px solid $light-red3;
    font-size: 15px;
  }

  .snack-bar:hover {
    background: $light-red2;
    border-color: $light-red2;
    color: #fff;
  }

  a {
    padding-top: 11px;
    color: #000;
  }

  a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
  }

}

@media only screen and (max-width: 992px) {
  #hero h1 {
    font-size: 2.2em !important;
  }
}

.text-section {
  border: none;
  padding: 30px 15px;

  h2 {
    margin-top: 0;
    color: #000;
    font-size: $h2-font-size;
  }
}