@import url(https://fonts.googleapis.com/css?family=Open+Sans);
$hero-image: url("/images/hero.jpg");
$hero-height: 100vh;
$ios-hero-height: 550px;
$white: #fff;
$black: #000;
$nav-bar-height: 50px;

* {
  font-family: 'Open Sans', sans-serif !important;
  text-transform: uppercase;
}

.mobile {
  //background: lightpink;
}

.navbar-seperator {
  margin-top: 0;
  margin-bottom: 0;
}

.hero {
  background: $hero-image no-repeat center center;
  background-size: cover;
  height: $hero-height;
  &:before {
    margin-top: $nav-bar-height;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: $hero-height;
    left: 0;
    z-index: -1;
    //background-color: rgba(128, 91, 84, 0.498039);
    //background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    opacity: .3;
  }
  .intro {
    padding: 3rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  h1 {
    color: #fff;
    font-size: 3rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }
  p {
    color: #fff;
    line-height: 1.75em;
    font-weight: 200;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }
  @media only screen and (min-width: 40.063em) {
    h1 {
      padding-top: 4.5rem;
      text-align: right;
      font-size: 5.5rem;
    }
    p {
      font-size: 2.5rem;
      text-align: right;
    }
  }
}

.hero-ios {
  height: $ios-hero-height;
}

.infostitial {
  width: 66.66%;
  padding: 45px 0;
  float: none;

  p {
    font-size: 20px;
  }

  @media only screen and (max-width: 40.063em) {
    width: 99.99%;
  }

  a {
    text-transform: none;
    font-size: 18px;
  }
}