@import url(https://fonts.googleapis.com/css?family=Open+Sans);
$hero-image: url("/images/hero/hero.jpg");
$hero-mobile: url("/images/hero/hero-mobile.jpg");
$hero-height: 100vh;
$ios-hero-height: 550px;
$white: #fff;
$black: #000;
$nav-bar-height: 50px;

* {
  font-family: 'Open Sans', sans-serif !important;
}

h1,
h2,
strong {
  text-transform: uppercase;
}

.mobile .hero {
  background-image: $hero-mobile; //kk
}

.navbar-seperator {
  margin-top: 0;
  margin-bottom: 0;
}

.hero {
  background: $hero-image no-repeat center center;
  background-size: cover;
  height: $hero-height;
  .intro {
    padding: 3rem;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
  }
  h1 {
    color: #fff;
    font-size: 3.2rem;
    line-height: 1.6em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center;
  }
  p {
    color: #fff;
    line-height: 1.75em;
    font-weight: 200;
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  @media only screen and (min-width: 992px) {
    h1 {
      padding-top: 4.5rem;
      text-align: right;
      font-size: 5.5rem;
    }
    p {
      font-size: 2.5rem;
      text-align: right;
    }
  }
}

.ios .hero {
  height: $ios-hero-height;
}

//col-xs <768px
//col-sm >=768px
//col-md>=992px
//col-lg>=1200px

.infostitial {
  width: 66.66%;
  padding: 45px 0;
  float: none;

  p {
    font-size: 20px;
  }

  @media only screen and (max-width: 40.063em) {
    width: 99.99%;
  }

  a {
    font-size: 18px;
  }
}