$light-purple: #A73B73;
$light-green: #adefd6;
$light-green2: #94D6BD;
$light-green3: #7ABCA3;
$light-green4: #61A38A;
$light-green6: #478970;
$light-green7: #2E7057;
$light-green8: #14563D;
$h2-font-size: 54px;
$h2-font-size-mobile: 50px;
$h3-font-size: 28px;
$h4-font-size: 22px;

@media (min-width: 1200px) {
  #tea-gallery-section {
    width: 1000px;
  }
}

.tea-wrapper {
  margin-bottom: 25px;
}

* {
  font-family: 'Open Sans', sans-serif !important;
}

.navbar-seperator {
  margin-top: 0;
  margin-bottom: 0;
  border-color: $light-green4;
}

h1,
h2,
h3,
h4,
strong {
  text-transform: uppercase;
}

h3, h4 {
  color: $light-green2;
}

.big-heading {
  font-size: $h2-font-size;
  color: #000;
}

@media only screen and (max-width: 768px) {
  .big-heading {
    font-size: $h2-font-size-mobile;
  }
}


h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

.desktop-visible {
  display: none;
}

.desktop .desktop-visible {
  display: block;
}

.desktop .desktop-hidden,
.tablet .tablet-hidden,
.mobile .mobile-hidden {
  display: none !important;
}

.transform-none {
  text-transform: none;
}
