$light-purple: #A73B73;
$light-red: #ff8080;
$light-red2: #ff6666; //Main Red/Green Colour
$light-red3: #ff4d4d;
$light-red4: #ff3333;
$light-red6: #ff1a1a;
$light-red7: #ff0000;
$light-red8: #e60000;
$h2-font-size: 54px;
$h2-font-size-mobile: 50px;
$h3-font-size: 28px;
$h4-font-size: 22px;

* {
  font-family: 'Open Sans', sans-serif;
}

.ios {
  .disable-rightclick {
    pointer-events: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }
}

.navbar-seperator {
  margin-top: 0;
  margin-bottom: 0;
  border-color: $light-red4;
}

h1,
h2,
h3,
h4,
strong {
  text-transform: uppercase;
}

h3, h4 {
  color: $light-red2;
}

.big-heading {
  font-size: $h2-font-size;
  color: #000;
}

@media only screen and (max-width: 768px) {
  .big-heading {
    font-size: $h2-font-size-mobile;
  }
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

.desktop-visible {
  display: none;
}

.desktop .desktop-visible {
  display: block;
}

.desktop .desktop-hidden,
.tablet .tablet-hidden,
.mobile .mobile-hidden {
  display: none !important;
}

.transform-none {
  text-transform: none;
}

.red-ul {
  /* Make sure to use a span in your li with inner-li class */

  list-style: none;
  padding: 5px 0 0 15px;
  margin: 0;

  li {
    text-indent: -.7em;
    margin-bottom: 5px;
  }

  li:before {
    content: "■";
    font-family: "Arial Black";
    color: $light-red2;
    vertical-align: text-bottom;
  }

  .inner-li {
    padding-left: 7px;
  }
}